.carouse-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .slider-container {
        display: flex;
        height: 100%;

        .slider {
            width: 100%;
            height: 100%;
        }
    }

    .progress-container {
        height: 3px;
        margin: auto;
        overflow: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;

    }
}