.airpods {
  text-align: center;
  background-image: url('../../../assets/airpods.png');
  background-position: 50% 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}