.demo-page {
  text-align: center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}
.x-phone {
  color: #fff;
  background-image: url('../../../assets/iphone.png');
  background-position: 0 0;
  background-size: 100% 100%;
}
.tablet {
  background-image: url('../../../assets/tablet.png');
  background-position: 50% 0;
  background-size: auto 100%;
}
.airpods {
  background-image: url('../../../assets/airpods.png');
  background-position: 50% 0;
  background-size: auto 100%;
}