.x-phone {
  color: #fff;
  text-align: center;
  background-image: url('../../../assets/iphone.png');
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}