.poster-wrap {
  height: 100vh;
  width: 100vw;
  font-size: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100vw;
}

.poster-des { 
  text-align: center;
}

