.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .item {
    width: 40px;
    height: 3px;
    background: #6c6868;
    margin-right: 6px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }

  .itemProgress {
    width: 0px;
    height: 100%;
    background: white;
  }
}