.tablet {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.tablet-title {
  position: absolute;
  color: #000;
  font-size: 68px;
  font-weight: 600;
  text-align: center;
  width: 100vw;
  top: 160px;
}
.tablet-desc {
  position: absolute;
  color: #000;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  width: 100vw;
  top: 280px;
}
.tablet-img {
  width: 90%;
  margin-bottom: 120px;
}
.tablet-image-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}