.carouselContainer {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.carouselSlidesWrapper {
    position: absolute;
    left: 100%;
    transition: 1s;
    display: flex;
}

.carouselIndicatorsWrapper {

}

.carouselIndicator {

}

.carouselIndicator__active {

}