.carouselContainer {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.carouselSlidesWrapper {

}

.carouselSlide {

}

.carouselSlide__active {

}

.carouselIndicatorsWrapper {

}

.carouselIndicator {

}

.carouselIndicator__active {

}