.slideWrapper {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    background-position: center 70%;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

.slideWrapper img {
    overflow: hidden;
}

.title {
    font-size: 64px;
    font-weight: bold;
    margin: 0 auto 20px;
    padding-top: 22vh;
}

.description {
    font-size: 32px;
}