.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.description {
  max-width: 100vw;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  font-size: 50px;
  font-family: PingFangSC-Medium;
}

.description {
  font-size: 20px;
  font-family: PingFangSC-Regular;
}

.img {
  width: 300px;
  height: 300px;
  margin-top: 100px;
}