{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": true,
    "include": ["src/**/*.ts"],
    "exclude": ["src/app.ts", "src/server.ts", "src/config/*.ts", "src/routes/*.ts", "src/errors/*.ts"]
}