.sell-poster.dark {
  color: white;
}

.sell-poster.light {
  color: black;
}

.sell-poster li {
  list-style: none;
}

.sell-poster ul {
  padding: 0;
  margin: 0;
}

.sell-poster-content {
  height: 67%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.sell-poster-title {
  font-size: 45px;
  font-weight: bold;
}

.sell-poster-des {
  font-size: 25px;
  margin-top: 20px;
}
