.Banner,.swiper{
    width: 100%;
    height: 100%;
}

.swiper1{
    width: 100%;
    height: 100%;
    background: url(../../assets/iphone.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom
}
.swiper2{
    width: 100%;
    height: 100%;
    background: url(../../assets/tablet.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom
}
.swiper3{
    width: 100%;
    height: 100%;
    background: url(../../assets/airpods.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: bottom
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.content1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}
.content2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}
p{
    margin: 0px !important;
    padding: 0px !;
}