.simple-swiper {
  height: 100vh;
  width: 100vw;
}
.simple-swiper__item {
  height: 100vh;
  width: 100vw;
  flex-shrink: 0;
  position: relative;
}

.simple-swiper__title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}

.simple-swiper__item-iphone {
  color: #FFF;
  background: rgb(17,17,17);
}

.simple-swiper__item > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 9;
}


.simple-swiper__item-iphone > img {
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: unset;
}
.simple-swiper__item-airpods > img {
  left: 0;
  right: 0;
  bottom: 0;
}

.simple-swiper__item-tablet > img {
  left: 0;
  right: 0;
  bottom: 0px;
}

.simple-swiper-item__header {
  margin-top: 120px;
  position: relative;
  z-index: 10;
}

.simple-swiper-item__header > p {
  margin: 0;
  line-height: 1.4;
}