.carousel .carousel-step-wrap{
    position: absolute;
    bottom: 8%;
    left: 50%;
    z-index: 1;
    width: fit-content;
    transform: translateX(-50%);
}

.carousel .carousel-step-wrap .carousel-step-item{
    width: 0px;   
    border: 0px;
    border-top: 5px solid white;
}
.carousel .carousel-step-wrap .carousel-step-bg{
    width: 60px;   
    display: inline-block;
    height: fit-content;
    cursor: pointer;
    margin: 0px 5px;
    border: 0px;
    background-color: gray;
}
.carousel .carousel-step-wrap .carousel-step-bg:hover{
    background-color: rgb(66, 64, 64);
}

