{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "proseWrap": "preserve",
  "trailingCommas": "none",
  "closeEmptyJsxElements": true,
  "closeEmptyJsxTags": true,
  "jsxSelfClosing": true
}
