.item-wrap {
  color:rgba(18, 18, 18);
  width: 100vw;
  height:100vh;
  display: flex;
  position: relative;
  .item-introduct {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    .item-title {
      font-size: 60px;
      font-weight: bold;
    }
    .item-title:first-child {
      padding-top: 10%;
    }
    
    .item-subTitle {
      font-size: 30px;
    }
  }
  .item-bg {
    display: flex;
    background-color: rgba(249, 249, 249);
    .item-img {
      align-self: flex-end;
      width: 100%;
      margin-bottom: 60px
    }
  }
}


