.carousel .carousel-frame .carousel-image-page {
    width: 100%;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

}