.progress-bar {
    position: relative;
    width: 40px;
    height: 4px;
    background-color: #ddd;
    border-radius: 10px;
    margin-right: 4px;
  }
  
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    transition: width 0.2s ease;
  }
  