.banner-item {
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-size: 100% 100%;

  .title {
    font-size: 50px;
    text-align: center;
    padding-top: 20vh;
  }
  .sub-title {
    font-size: 22px;
    text-align: center;
    margin-top: 37px;
  }
}
