.carousel-wrap {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  /* 开启GPU加速 */
  will-change: transform;
}
.carousel-item {
  flex-flow: column;
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
}