[submodule "java/short_url"]
	path = java/short_url
	url = https://github.com/devil0118/short_url.git
[submodule "java/http_server"]
	path = java/http_server
	url = https://github.com/devil0118/http_server.git
