.DS_Store
node_modules/

java/.mvn/wrapper/maven-wrapper.jar
java/.mvn/wrapper/maven-wrapper.jar
java/.mvn/wrapper/maven-wrapper.properties
java/jacoco.exec
*.jar
*.html
*.gif
java/mvnw
*.cmd
*.css
*.js
java/.mvn/wrapper/maven-wrapper.jar
