.DS_Store
node_modules/

swift/SCDT-Demo.xcodeproj/xcuserdata/wuzhe.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
swift/SCDT-Demo.xcodeproj/xcuserdata/wuzhe.xcuserdatad/xcschemes/xcschememanagement.plist
swift/SCDT-Demo.xcodeproj/project.xcworkspace/xcuserdata/wuzhe.xcuserdatad/UserInterfaceState.xcuserstate
swift/SCDT-Demo.xcodeproj/project.xcworkspace/xcuserdata/wuzhe.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
swift/SCDT-Demo.xcodeproj/project.xcworkspace/xcuserdata/wuzhe.xcuserdatad/UserInterfaceState.xcuserstate
