.commodity {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-blank-top {
    flex: 2;
  }
  &-content {
    flex: 4.6;
  }
  &-titles {
    margin-bottom: 26px;
    font-size: 56px;
    font-weight: 600;
    line-height: 66px;
  }
  &-desc {
    margin-bottom: 6px;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
  }
  &-pic {
    height: 100px;
  }
  &-blank-bottom {
    flex: 1.8;
  }
}
