 .progress{
    position: fixed;
    bottom:5vh;
    left:50vw;
    transform:translateX(-50%);
    width: 300px;
    height: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .long{
    width:30%;
    height: 5px;
    background-color: #9F9F9F;
 }
 .short{
    background-color: #F9F9F9;
    height: 5px;
 }