.item-wrapper{
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;

  }
  .text-wrapper{
    margin-top:15%;
  }
.title{
    font-size: 45px;
    font-weight: 600;
    white-space: pre-wrap;
}

.desc{
    font-size: 32px;
    white-space: pre-wrap;

}
