.item-container {
  width: 100%;
  height: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  line-height: 1.2;
}

.item-title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-top: 200px;
}

.item-desc {
  font-size: 28px;
  font-weight: 400;
}