.carousel-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.carousel-item-title {
    font-size: 30px;
    font-weight: bold;
}

.carousel-item-description {
    font-size: 20px;
}
