.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App form input[type='text'] {
  font-size: 1.2rem;
  min-width: 20rem;
}

.App form button {
  font-size: 1.2rem;
}

.App > a {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}