.item {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .title {
    font-size: 50px;
    margin-top: 180px;
    white-space: pre-wrap;
  }

  .subTitle {
    font-size: 28px;
    white-space: pre-wrap;
  }

  .img {
    width: 100%;
    height: 500px;
    object-fit: contain;
    object-position: bottom;
    margin-bottom: 80px;
  }
}

.xPhone {
  background: #111;
  color: #fff;
}

.tablet {
  background: #FAFAFA;
  color: #000;
}

.airPods {
  background: #F1F1F3;
  color: #000;
}