$medium-width: 512px;
$large-width: 1024px;
$medium-height: 512px;
$large-height: 1024px;

.box--width-m {
    width: $medium-width;
}

.box--width-l {
    width: $large-width;
}

.box--max-width-m {
    max-width: $medium-width;
}

.box--max-width-l {
    max-width: $large-width;
}

.box--height-m {
    height: $medium-height;
}

.box--height-l {
    height: $large-height;
}

.box--max-height-m {
    max-height: $medium-height;
}

.box--max-height-l {
    max-height: $large-height;
}
