.content-item {
  height: 100%;
  position: relative;
  article {
    width: 100%;
    height: 400px;
    padding-top: 120px;
    h1 {
      font-size: 60px;
    }
    p {
      font-size: 26px;
    }
  }
  img {
    width: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 100px;
  }
}
