
.image_container{
  white-space: nowrap;
  transition: transform 0.3s;
  position: relative;
}
.carousel_info{
  position: absolute;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);

  height:100px;
  text-align: center;
}
.carousel_info_title{
  font-size: 48px;
}
.carousel_info_desc{
  font-size: 32px;
  margin: 0;
}
.fontColor{
  color:#FFFFFF
}
.descFont{
  font-size: 48px;
  font-weight: bold;
}

.info_image{
  width:100vw;
  height:100vh;
}


