.carousel-wrapper{
  width: 100%;
  height: 100vh;
}
.carousel-wrapper .inner{
  overflow: scroll;
  display: flex;
  /* flex-direction: row; */
  transition: transform 0.5s ease;
}
.carousel-wrapper .inner::-webkit-scrollbar{
  display: none;
}
.carousel-item{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.carousel-item .text-wrapper .title{
  font-size: 2.6rem;
  line-height: 1.5;
}
.carousel-item .text-wrapper .description{
  font-size: 1.6rem;
  line-height: 1.2;
}
.carousel-item .img-wrapper img{
  width: 8rem;
  object-fit: contain;
}