/* div{
    color: red;
} */
.box {
    width: 200px;
    height: 200px;
    margin: auto 0;
    border: 1px solid blue;
    overflow: hidden;
}

.box-item {
    width: 600px;
    height: 200px;
    transform: translateX(0);
    transition: transform 1s;
    overflow: hidden;
}
.ca-item {
    width: 200px;
    height: 200px;
    color: white;
    display: inline-block;
    line-height: 200px;
    text-align: center;
}
.ca-item-0, .ca-item-3 {
    background-color: rgb(167, 104, 104);
}
.ca-item-1 {
    background-color: rgb(42, 44, 190);
    display: inline-block;
}
.ca-item-2 {
    background-color: rgb(143, 187, 41);
    display: inline-block;
}