.progress-wrapper{
  background-color: #999;
  width: 2rem;
  height: 0.1rem;
}
.progress{
  background-color: #fff;
  height: 0.1rem;
  transition: 3s ease;
  transition-delay: 0.5s;
}

.indicator-wrapper{
  position: absolute;
  left: 50%;
  transform: translateX(-50%,0);
  -webkit-transform: translate(-50%, 0);
  bottom: 4rem;
  height: 1rem;
  width: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.indicator-wrapper .item{
  background-color: #999;
  width: 2rem;
  height: 0.1rem;
}