
.slides {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    will-change: transform;
    touch-action: none;
    -ms-touch-action: none;
}

.slide {
    padding-top: 200px;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    overflow: hidden;
}