.swiper{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.swiper-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.swiper-content{
    width: 100%;
    transition:400ms ease-in-out;
}

.indicator{
    position: relative;
    top:-50px;
    display: flex;
    justify-content: center;
}

.indicator-pointer{
    margin-right: 8px;
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background-color: gray;
}
.indicator-process{
    background-color: white;
    width: 0;
    height: 2px;
    border-radius: 1px;
}