/**
* 全局mixins
**/

@mixin flex($display: flex, $direction: row, $content: center, $items: center) {
  display: $display;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
}
