// for carousel
$item_margin_indicator: 64px;
$indicator_margin_x: 4px;
$indicator_width: 40px;
$indicator_height: 3px;
$indicator_bottom: 52px;

// for slide
$slide_description_margin_top: 0.4em;
$slide_image_height: 120px;
$slide_image_bottom_padding: $indicator_bottom + $indicator_height + $item_margin_indicator;