.App {
    text-align: center;
    width: 100vw;
    overflow: hidden;
}

.carousel {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    transition: transform 300ms;
}
