.container {
  overflow: hidden;
}

.content {
  position: relative;
  white-space: nowrap;
  transition: transform 0.5s;
}


.carousel_info {
  text-align: center;
  mix-blend-mode: difference;
  filter: invert(100%);
  white-space: normal;
  width: 40%;
}

.carousel_item {
  width: 100%;
  height: 98vh;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: no-repeat fixed center;
  background-size: cover;
}

.loading {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.loading_outer {
  width: 90px;
  height: 4px;
  background-color: #ccc;
  margin-left: 20px;
  border-radius: 5px;
}

.loading_inside {
  height: 100%;
  border-radius: 5px;
  animation-fill-mode: forwards;
  animation-name: progressBar;
  animation-iteration-count: infinite;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
