.page-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding-bottom: 10vh;
}
.page-flex-item{
    flex: 1;
}
.title{
    font-size: 56px;
    font-weight: 600;
    line-height: 1.5;
}
.text{
    font-size: 28px;
    font-weight: 400;
}