.carousel_wrapper {
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.capation {
    left: 0;
    right: 0;
    top: 30%;
    position: absolute;
}

.capation .main_title {
    font-size: 72px;
    font-weight: bold;
}

.capation .sub_title {
    font-size: 36px;
}

.capation .light_color {
    color: white;
}

.capation .dark_color {
    color: black;
}