.layout {
  aspect-ratio: 2752 / 1554;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15%;
  background-size: 6% auto;
  background-position: center 80%;
  background-repeat: no-repeat;

  .title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  .desc {
    font-size: 24px;
  }

  &.dark {
    color: #ffffff;
    background-color: #111111;
  }

  &.light {
    color: #000000;
    background-color: #fafafa;
  }

  &.gray {
    color: #000000;
    background-color: #f1f1f3;
  }
}
