.goods-card__contain {
  display: flex;
  width: 700px;
  height: 400px;
  position: relative;
}

.goods-card__img {
  width: 100%;
  object-fit: cover;
}

.goods-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-size: 20px;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
