.container {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  padding: 100px 200px 0;
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: center 220px;
  overflow: hidden;
}
