
.search-header{
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}

.search-body-con{
    display: flex;
    justify-content: center;
}

.search-body{
    background-color: #f9f9f9;
    width: 70%;
    min-width: 20rem;
    margin-top: 5rem;
    height: 20rem;

    padding: 1rem;
}