.casourel-indicator {
    border-radius: 3px;
    margin: 7px;
    height: 4px;
    width: 70px;
    background-color: grey;
}

.casourel-indicator__progress {
    height: 100%;
    background-color: white;
    border-radius: inherit;
    text-align: right;
    z-index: 100;
}
