.content {
    position: relative;
    p {
        padding: 0;
        margin: 0;
    }
    ul {
        position: absolute;
        display: flex;
        list-style: none;
        height: 300px;
        padding: 0;
        margin: 0;
        left: 0;
        transition: left .5s;
        li {
            display: inline-block;
            width: 100vw;
            height: 100vh;
            padding-top: 90px;
            img {
                padding-top: 320px;
                width: 95px;
                height: 86px;
            }
        }
    }
}