.page
  width: 100%
  height: 100%
  overflow: hidden
  padding-top: 15rem
  padding-bottom: 5.5rem

  &.dark
    .title, .text
      color: #fafafa

  &.default
    .title, .text
      color: #111111

  .title, .text
    z-index: 1
    position: relative

  .title
    margin-bottom: 1rem

  img
    bottom: 0
    height: 30rem
    width: fit-content
