.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%
}

.hidden {
  overflow-x: hidden;
}

.transition {
  transition-duration: 1000ms;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.absolute-bottom-center {
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto
}





