.carousel-item-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .img {
    height: 350px;
    position: absolute;
    bottom: 350px;
    object-fit: cover;
  }
}
