.carousel_indicator {
    margin: 10px 5px 10px 5px;
    border-radius: 4px;
    width: 40px;
    height: 2px;
    position: relative;
    z-index: 3;

    &:hover {
        cursor: pointer;
    }
}

.carousel_indicator_process {
    border-radius: 4px;
    width: 40px;
    height: 2px;
    position: relative;
    top: 0px;
}