.indicator-container {
    .indicator-item {
        display: inline-flex;
        width: 50px;
        height: 2px;
        background-color: #a9a9a9;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 1px;
        overflow: hidden;
    }
    .indicator-fill {
        width: 0;
        height: 100%;
        background-color: #fafafa;
    }
}
