.progress {
    background-color: rgba(241,241,243,0.5);
    width: 40px;
    height: 3px;
    border-radius: 1px;
    /* border: 1px solid #000; */
    display: inline-block;
}

.progress-schedule {
    height: 3px;
    border-radius: 1px;
    width: 0%;
    height: 100%;
    background-color: #fff;

}

.progress-active {
    animation-name: progress;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 2000ms;
}

@keyframes progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}