.item {
  position: relative;
  width: 100%;
  height: 100%;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-text {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  white-space: pre;
}

.item-text h1 {
  font-size: 80px;
}
.item-text h2 {
  font-size: 40px;
  font-weight: normal;
}
