.progress-container {
  width: 240px;
  border-radius: 25px;
  background: grey;
}

.progress {
  width: 0;
  height: 100%;
  border-radius: 25px 0 0 25px;
  background: #fff;
}

.progress--active {
  animation-name: keyframeWidth;
  animation-timing-function: linear;
}

.progress-bar {
  display: grid;
}

@keyframes keyframeWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%
  }
}
