.Goods {
  width: 100vw;
  height: 100%;
  color: #000;
  background-repeat: no-repeat;
  background-position: center;
}

.Goods__title {
  font-size: 56px;
  font-weight: 600;
  padding-top: 160px;
  margin-bottom: 10px;
}

.Goods__desc {
  font-size: 28px;
  font-weight: 400;
}