.goods-item {
    color: #000;
    height: 100%;
    overflow: hidden;
    position: relative;
    &.goods-item-theme-dark {
        color: #fff;
        background-color: #000;
    }

    .name {
        font-size: 48px;
        font-weight: bold;
        margin: 25vh auto 0;
    }

    .desc {
        font-size: 24px;
        font-weight: 400;
        margin-top: 20px;
    }

    .imgWrap {
        position: absolute;
        bottom: 120px;
        width: 100%;
        text-align: center;
        img {
            width: 100px;
        }
    }
}

