.casrousel-container {
    position: relative;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.casrousel-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

.casrousel-img {
    width: 100%;
    background: red;
}

.casrousel-img img {
    width: 100%;
    height: auto;
}

/* 大容器的css */
.casrousel-slides {
    display: flex;
    height: 100%;
    transition: 300ms linear;
}

.casrousel-lists {
    width: 100%;
    overflow: hidden;
}