.swiper-container {
    background: #111;
    overflow: hidden;
    position: relative;
}

.swiper-wrapper{
    height: 100vh;
    display: flex;
    transition: all .5s ease-in-out;
}

.swiper-slider{
    width: 100vw;
}
