.swiper-img-wrapper {
    height: 55vh;
    overflow: hidden;
    position: relative;
}

.swiper-img-wrapper img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 80%;
    width: auto;
}

