extends ./layout

block content
  h1 域名服务
  p.lead 域名转换服务
  hr
  .row
    .col-sm-6
      h2 to be continued
      p to be continued
      p
        a.btn.btn-secondary(href='#', role='button') 详情 »
    .col-sm-6
      h2 域名操作
      p 域名转换及查询
      p
        a.btn.btn-link(href='/domain', role='button') 详情 »