<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <a href="/api/short?shortUrl=">获取短域名：https://localhost:3000/api/short</a><br/>
        <a href="/api/origin?originUrl=">获取原始域名：https://localhost:3000/api/origin</a>
    </body>
</html>