.page-base {
  color: #fff;
  height: calc(100vh);
  background-color: #111111;
  background-image: url(../assets/iphone.png);
  background-size: 900px;
  background-repeat: no-repeat;
  background-position: center;
  .bg-img {
    width: 900px;
  }
  .text-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh);
    .detaile {
      width: 400px;
      word-break: break-all;
    }
    .title {
      font-weight: bolder;
      margin-bottom: 20px;
    }
  }
}
.tablet {
  background-color: #fafafa;
  color: black;
  background-image: url(../assets/tablet.png);
  background-size: 1500px;
  .detaile {
    width: 600px;
  }
}
.airpods {
  background-color: #f1f1f3;
  color: black;
  background-image: url(../assets/airpods.png);
  background-size: 2000px;
  .title {
    width: 800px;
    word-break: break-all;
  }
}
