.page {
  width: 100%;
  height: 100%;
}

.box {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.bg-img {
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center bottom;
}

.reset h1, .reset h4 {
  margin: 0;
  padding: 0;
}