.image-content {
    height: 100vh;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.image-content>.image-content-image {
    margin-top: 200px;
    width: 144px;
    height: 144px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 50%;
    transform: translateX(-72px);
}