<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Interview01.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA9AAFD82860706400A6AF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA9AAFE82860706700A6AF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA9AAFF22860706700A6AF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
