@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.apple-products .description {
  margin-top: 10%;
}
.apple-products .xPhone,
.apple-products .Tablet,
.apple-products .arPods {
  background-position-y: 75%;
}
.apple-products .xPhone {
  background-color: #111111;
  background-position-x: center;
  background-size: 50%;
}
.apple-products .Tablet {
  background-color: #fafafa;
}
.apple-products .arPods {
  background-color: #f1f1f3;
}
