@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.movies {
  width: 500px;
  height: 700px;
}

.movies:hover .movie-card {
  filter: blur(8px);
}

.movies:hover .movie-info {
  visibility: visible;
}
.movie-info {
  font-family: 'Playfair Display', serif;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}