.banner_control{
  width: 100%;
  height: 100%;
  padding-top:210px;
  box-sizing: border-box;
  background-size: auto 55.4%;
  background-repeat: no-repeat;
  background-position: center 66.5%;
  position: absolute;
}

.banner_control .title{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.banner_control .text{
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.banner_control.dark .title,
.banner_control.dark .text{
  color:#fff;
}