

.swiper {
    width: 100%;
    background-color: blueviolet;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    
  }
  
  
  
  
  
  
  
  
  
  
  
  
  .swiper .swipers {
    display: flex;
    text-align: center;
    color: #fff;
    font-size: 20px;
    
  }
  .swiper .swipers .swipers-item {
    width: 100%;
    
  }
  .swiper .swipers .swipers-item img {
    width: 100%;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .pagnation {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 15;
    display: flex !important;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 0;
    list-style: none;
    bottom: 12px;
    
  }
  .pagnation div {
    position: relative;
    display: inline-block;
    flex: 0 1 auto;
    box-sizing: content-box;
    width: 36px;
    height: 3px;
    margin: 0 3px;
    padding: 0;
    text-align: center;
    text-indent: -999px;
    vertical-align: top;
    transition: all 0.5s;
    background: #ccc;
  }
  .animation .active span {
    display: block;
    content: " ";
    height: 100%;
    background: rgb(102, 101, 101);
  }
  
  @keyframes myfirst {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  