.airpods {
    width: 100vw;
    height: 100vh;
    background-color: #f1f1f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
  }
  .airpods-title {
    position: absolute;
    color: #000;
    font-size: 68px;
    font-weight: 600;
    text-align: center;
    width: 100vw;
    top: 160px;
  }
  .airpods-desc {
    position: absolute;
    color: #000;
    font-size: 68px;
    font-weight: 600;
    text-align: center;
    width: 100vw;
    top: 240px;
  }
  .airpods-img {
    width: 130%;
    margin-bottom: 140px;
  }
  .airpods-image-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
  }