.carousel {
    position: relative;
    width:100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .carousel-images {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    
  }
  
  .carousel-images img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .carousel-images img.active {
    /* transform: translate(100vw); */
  }
  
  .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 10px;
  }
  
  .carousel-indicators span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-indicators span.active {
    opacity: 1;
  }
  
  .slide {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide.prev {
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 1;
    transform: translateX(-100%);
  }