.scroll_item {
  color: #fff;
  background-color: #111111;
  padding-top: 130px;
}
.scroll_item .title {
  font-size: 36px;
}
.scroll_item .desc {
  font-size: 26px;
}
.scroll_item_1 {
  background: url('../assets/iphone.png') center 245px no-repeat;
  background-size: 600px;
  background-color: #111111;
}
.scroll_item_2 {
  color: #000;
  background: url('../assets/tablet.png') center 245px no-repeat;
  background-size: 1200px;
  background-color: #f9f9f9;
}
.scroll_item_3 {
  color: #000;
  background: url('../assets/airpods.png') center 130px no-repeat;
  background-size: 2400px;
  background-color: #f0f0f0;
}
