.carousel {
  position: relative;
  height: 100%;
  width: 100%;

  .carousel-items {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .carousel-item {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-dots {
    position: absolute;
    bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;

    .carousel-dot {
      display: inline-block;
      border-radius: 2px;
      height: 4px;
      width: 48px;
      background-color: rgba(153, 153, 153, 0.8);
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      .carousel-dot-process {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }

}