.item {
  width: 100%;
  height: 100%;
  padding: 100px 0 50px 0;
  box-sizing: border-box;
}

.item1 {
  background: url('../assets/iphone.png') center 70% no-repeat;
  background-size: 50%;
  background-color: #111111;
  color: white;
}

.item2 {
  background: url('../assets/tablet.png') center 70% no-repeat;
  background-size: 90%;
  background-color: #fafafa;
}

.item3 {
  background: url('../assets/airpods.png') center 70% no-repeat;
  background-size: 120%;
  background-color: #f1f1f3;
}

.title {
  font-size: 60px;
  height: 100px;
  line-height: 100px;
  font-weight: 600;
}

.text {
  font-size: 30px;
  height: 40px;
  line-height: 40px;
}

.bigText {
  font-size: 55px;
  font-weight: bold;
}
