.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #000;
}

.wrapper .content {
    display: flex;
}
.wrapper .dots {
    position: absolute;
    display: flex;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper .dots .load {
    height: 5px;
    width: 0;
    border-radius: 5px;
    background: #ffffff;
}
.wrapper .dots .animate {
    height: 5px;
    width: 0;
    border-radius: 5px;
    background: #ffffff;
    animation: startload 3s forwards;
}

.wrapper .dots .dot {
    width: 50px;
    height: 5px;
    margin: 0 10px;
    border-radius: 5px;
    background: #ccc;
}

@keyframes startload {
    0% {
        width: 0;
    }

    100% {
        width: 50px;
    }
}