.carousel-box {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.img-box {
    display: flex;
    width: 100%;
    height: 100vh;
    transition: all linear 1.5s;
    overflow: visible;
}

.active-0 {
    transform: translateX(0%);
}

.active-1 {
    transform: translateX(-100%);
}

.active-2 {
    transform: translateX(-200%);
}

.indicator-box {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
