
._progress-bar ._item {
    display: inline-block;
    height: 2px;
    width: 37px;
    margin: 0 3px;
    overflow: hidden;
    border-radius: 1px;
    background-color: rgba(200, 200, 200, 70%);
}

._progress-bar ._item ._progress {
    background-color: rgba(255, 255, 255, 90%);
    height: 100%;
    width: 0;
    transition-property: width;
    transition-timing-function: linear;
}