.carousel{
  width:100%;
  height: 100vh;
  position: relative;
}
.carousel_banner{
  width:100%;
  height: 100%;
  overflow: hidden;
}
.carousel_banner_wrap{
  height: 100%;
  transform: translateX(0);
  white-space:nowrap;
}
.carousel_banner_li{
  width:100%;
  height: 100%;
  display: inline-block;
  position: relative;
  color:#000;

}

.carousel_banner_li_img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.carousel_banner_li_wrap{
  position: absolute;
  top:20%;
  text-align: center;
  width: 100%;
}
.carousel_banner_li_title{
  font-size: 3em;
}
.carousel_banner_li_subtitle{
  margin-top:10px;
  font-size:2em;
}
.carousel_step{
  position: absolute;
  bottom: 20px;
}

/* 步骤条 */

.carousel_step{
  position: absolute;
  bottom: 20px;
  display: flex;
  left:50%;
  transform: translateX(-50%);
}
.carouel_step_item{
  width:50px;
  height: 3px;
  border-radius: 4px;
  background:#aaa;
  margin-right: 10px;
  overflow: hidden;
}
.carouel_step_item::before{
  content: '';
  display: block;
  width:100%;
  height: 100%;
  background:#fff;
  transform: translateX(-100%);
}
@keyframes step_active {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateY(0);
  }
}
.carouel_step_item.active::before{
  animation: step_active linear 1s forwards
}