.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 12%;
  padding-bottom: 5%;
  box-sizing:border-box;
}

.context h1 {
  font-size: 92px;
  margin: 0;
  padding: 0 10%;
}

.context p {
  font-size: 48px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  flex: 1;
  height: 0;
  object-fit:contain;
}