.productPage{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    position:relative;
    padding-top:10vh;
}
.text{
    z-index:10;
}
.productTitle{
    font-size:3.6rem;
    margin-bottom:20px;
}
.productDescription{
    font-size:1.8rem;
    margin-bottom:4px;
}
.bg{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position:center;
}