{
  "extends": "eslint-config-egg/typescript",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-var-requires": "off",
    "array-bracket-spacing": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}