# biz
dist/
dist

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# editer data
.DS_Store
/.idea/

jest_html_reporters.html
report.out

# vs code counter
.VSCodeCounter
/.codecc/
/build.yml