{
    "all": true,
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "pg-data",
        "src/tests/**/*.ts"
    ],
    "reporter":[
         "text-summary",
         "html",
         "lcovonly"
    ],
    "report-dir": "./coverage"
}