
*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
.carouselBox{
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.imgBox{
  position: absolute;
  height: 100%;
}
.imgItem{
  height: 100%;
  display: inline-block;
}
.carouselBtn{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 40px;
  height: 10px;
  background-color:#ccc;
}