.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carouselItems {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow: hidden;
  transition: transform 0.5s ease;
  align-self: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carouselItemWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
}
