.container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel-wrapper{
  display: flex;
  height: 100%;
  align-items: stretch;
  transition-property: transform;
}
.carousel-item{
  flex: 1;
}