.carousel {
    overflow: hidden;
}

.carousel__inner {
    white-space: nowrap;
    transition: transform 0.5s;
}

.carousel__indicators-wrapper {
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.carousel__indicators {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
