.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel__slides {
  display: flex;
}
.carousel__slide {
  flex: 1 0 auto;
}
.carousel__progress {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}
