.carousel-container {
  overflow: hidden;
  position: relative;
}

.carousel-container .carousel-frame-list {
  white-space: nowrap;
  height: 100%;
}

.carousel-container .carousel-frame-list .carousel-frame {
  display: inline-block;
  height: 100%;
  overflow: hidden;
}

.carousel-container .carousel-frame-list .carousel-frame .carousel-frame-img {
  display: block;
  min-height: 300px;
}

.carousel-container .carousel-index-list {
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
}

.carousel-container .carousel-index-list .progress-container {
  margin: 0 5px;
}