.indicator {
  position: absolute;
  bottom: 5%;
  width: auto;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 0.25em;
}

.indicatorBar {
  height: 4px;
  width: 36px;
  border-radius: 2px;
  background-color: white;
  overflow: hidden;
}

.indicatorBarProgress {
  width: 100%;
  height: 100%;
  margin-left: auto;
  background-color: #ccc;
  cursor: pointer;
}
