.carousel-dots {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-dot {
  width: 3%;
  min-width: 40px;
  height: 2px;
  border-radius: 1px;
  background-color: rgb(162, 162, 162);
  overflow: hidden;
  margin-left: 10px;
}
.carousel-dot__process {
  width: 50px;
  height: 2px;
  background-color: #fbfbfc;
  transform: translate3d(-100%, 0, 0);
}
