.carousel-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.carousel-container .wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.carousel-item {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.carousel-item img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.carousel-item .space {
  width: 100%;
  height: 30px;
}

.carousel-item .title {
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 0;
  top: 180px;
  margin: auto;
  z-index: 1;
}

.carousel-item .sub {
  margin-top: 16px;
  font-size: 28px;
  font-weight: normal;
}
