.root {
    overflow: hidden;
    position: relative;
}

.content {
    position: relative;
    width: 1000px;
    height: 700px;
    display: flex;
    transition: transform 0.5s;
}

.pagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}