.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .carousel {
    position: absolute;
    display: flex;

    .carousel-item {
      flex-shrink: 0;
      padding-top: 10em;
      width: 100vw;
      height: 100vh;
      color: #fff;
      background-repeat: no-repeat;
      background-size: auto 50%;
      background-position: center 80%;

      h1 {
        font-size: 2.4rem;
      }
    }
  }

  .indicator {
    position: fixed;
    width: 100%;
    bottom: 30px;
    text-align: center;

    .indicator-item {
      display: inline-block;
      width: 30px;
      height: 2px;
      border-radius: 2px;
      background-color: #9a9a9a;

      .progress {
        height: 100%;
        background-color: #fff;
        border-radius: 2px;
      }
    }

    .indicator-item+.indicator-item {
      margin-left: 5px;
    }
  }
}