.carousel {
  height: 100%;
  width: 100%;
  position: relative;
}
.carousel-inside {
  height: 100vh;
  transition: transform 0.5s;
}
.carousel-item {
  height: 100vh;
  width: 100vw;
  float: left;
}
.sclick {
  position: fixed;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%);
  height: 4px;

  width: 250px;
  display: flex;
}
.sclick-item {
  flex: 1;
  padding-right: 10px;
}
.sclick-bg {
  width: 100%;
  height: 100%;
  background: #ccc;
  border-radius: 4px;
}
.sclick-inside {
  background: #fff;
  height: 100%;
  width: 100px;
  float: left;
  margin-right: 10px;
}
