.carousel-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 242);
}
.carousel-item-content_img {
  position: absolute;
  width: 130px;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.carousel-item-content {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.carousel-item-content_title {
  font-size: 56px;
  font-weight: 600;
  text-align: center;
  line-height: 1.2em;
}

.carousel-item-content_text {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2em;
}
.carousel-item.carousel-item-dark {
  background-color: rgb(17,17,17);
  color: #fff;
}
.carousel-item.carousel-item-bright {
  background-color: rgb(249,249,249);
}