._carousel {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  border-bottom: solid 1px #dedede;
  overflow: hidden;
}
._carousel_inner {
  position: relative;
  z-index: 2;
  &._carousel_inner2 {
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 300ms;
  }
}
._carousel_item {
  float: left;
  position: relative;
}
._carousel_item2 {
  position: absolute;
  top: 0;
}

._direct_btn {
  position: absolute;
  z-index: 3;
  width: 64px;
  height: 64px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  transition-duration: 300ms;
  &:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  svg {
    display: block;
  }
  &._prev {
    left: -32px;
    border-radius: 0 32px 32px 0;
    svg {
      margin: 18px 0 18px 28px;
    }
  }
  &._next {
    right: -32px;
    border-radius: 32px 0 0 32px;
    svg {
      margin: 18px 0 18px 6px;
    }
  }
}

._indicator {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  z-index: 6;
}
._i_c {
  width: 32px;
  height: 2px;
  border-radius: 2px;
}
._indicator_item {
  @extend ._i_c;
  background-color: rgba(176, 176, 176, 0.5);
  margin: 0 3px;
  overflow: hidden;
  cursor: pointer;
  &.actived {
    background-color: #ffffff;
    span {
      @extend ._i_c;
      display: block;
      background-color: rgb(23, 227, 30);
      transition-duration: 50ms;
    }
  }
}
