.container {
  overflow: hidden;
}

.swiper {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-content: stretch;
  transform: translateX(0%);
}

.swiper > * {
  flex: 1 0 100%;
  display: flex;
}

.itemWrap {
  background-color: red;
}

.itemWrap > .inner {
  display: flex;
}
