.j-carousel {
  width: 100%;
  height: 100%;
  background-color: #111;
}

.j-carousel > div {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  transition: .5s;
}

.j-carousel > ul {
  list-style: none;
  position: absolute;
  display: flex;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.j-carousel > ul > li {
  width: 80px;
  height: 3px;
  background: #999;
  margin: 0 8px;
}

.j-carousel > ul > li::before {
  content: '';
  width: 0%;
  height: 100%;
  background: #ddd;
  top: 0;
  left: 0;
  position: absolute;
}

.j-carousel > ul > .active::before {
  width: 100%;
  transition: inherit;
}

.j-carousel-item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}