.carousel {
    position: relative;
    width: 50%;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}
.picture-wrap {
    position: relative;
    display: flex;
    height: 100%;
    transition: left 0.3s linear;
}
.picture {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
