.carousel {
    position: relative;
    height: 100%;
    width: 100%;
}

/* 滚动组图样式 */
.carousel-images {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: hidden;
}

.carousel-images img {
    height: 100%;
    flex-shrink: 0;
    width: 100%;
    /* 背景图具体展示模式需要和设计进行确认 */
    /* object-fit: contain; */
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

/* 滚动条样式 */
.carousel-bar {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6%;
    display: flex;
}

.carousel-bar-item-out {
    height: 3px;
    margin: 0 6px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #9F9F9F;
}

.carousel-bar-item-in {
    height: 3px;
    width: 0;
    background-color: #FFF;
}

.carousel-bar-item-stop {
    animation: aniBarStop 0s!important;
}

@keyframes aniBar {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes aniBarStop {
	0% {
		width: 0;
	}
	100% {
		width: 0;
	}
}