.carousel-banner {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.carousel-banner__placeholder-top {
  height: 18%;
  width: 100%;
}

.carousel-banner__title {
  margin: 0.3em 20%;
  font-size: 50px;
}
.carousel-banner__subtitle {
  margin: 0 20%;
  font-size: 24px;
  font-weight: 400;
}
.carousel-banner__image {
  position: absolute;
  z-index: -1;
  bottom: 8%;
  margin-left: 50%;
  transform: translate3d(-50%, 0, 0);
  left: 0;
  height: 60%;
  width: auto;
}
.carousel-banner__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
}
