.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carouselInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s linear;
}

.indicatorOuter {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}