.carousel-track {
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: transform 300ms ease-in-out;
  left: 0;
  top: 0;
  display: flex;
}
.carousel-slide {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100%;
}
