@keyframes gradual {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

.carousel{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .carousel-wrap{
    display: flex;
    flex-wrap: nowrap;
    width: max-content;
    transition: transform 1s;
  }
  .carousel-bar{
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    >div{
      width: 70px;
      height: 3px;
      background-color: #9f9f9f;
      margin-right: 30px;
      border-radius: 20%;
      &:nth-last-child(1){
        margin: 0;
      }
      >div{
        height: 3px;
        background-color: #fff;
        border-radius: 20%;
        width: 0;
        &.active{
          animation: gradual 3s linear;
        }
      }
    }
  }
}