.carousel-viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    .carousel-wrapper{
        display: inline-block;
        white-space: nowrap;
        height: 100%;
        width: 100%;
        .carousel-item{
            display: inline-block;
            flex: 1;
            width: 100vw;
            height: 100%;
         }
    }
    .carousel-indicator-wrapper{
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 5%;
        &.hide{
            display: none;
        }
    }
}
