.carousel-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center 35vh;
  overflow: hidden;
  white-space: nowrap;
}

.carousel-card__title {
  margin: 25vh 0 10px;
  font-size: 56px;
  font-weight: 600;
  white-space: pre-wrap;
}

.carousel-card__desc {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
  white-space: pre-wrap;
}
