.carousel {
  position: relative;
}

.carousel-list {
  overflow: hidden;
}

.carousel-track {
  overflow: scroll;
}

.carousel-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

.carousel-dots {
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  display: flex;
}
