.console-panel{
    position: fixed;
    background-color: rgba(0, 57, 118, 0.5);
    right:1rem;
    top: 1rem;
    font-size: .6rem;
    box-sizing: border-box;
    padding: .5em;
    color: #fff;
}