.carousel {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.carousel-content {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  transition: 0.8s;
}

.carousel-progress {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 48px;

  .item {
    flex-basis: 36px;
    flex-grow: 0;
    height: 2px;
    border-radius: 2px;
    margin: 0 4px;
    background-color: #a9a9a9;
  }

  .progress {
    background-color: #fafafa;
    height: 100%;
    width: 0%;
    border-radius: inherit;
  }

  .active {
    animation: changeWidth;
  }
}

.carousel-item {
  box-sizing: border-box;
  flex-shrink: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  overflow: hidden;

  .content {
    flex: 1;
  }

  .title {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .desc {
    font-size: 24px;
  }
}

@keyframes changeWidth {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}