.info {
  height: 100%;
  width: 100%;
  font-size: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  h1 {
    padding-top: 50px;
    color: black;
  }

  p {
    padding-top: 20px;
  }

  &.first {
    background-image: url("../../assets/iphone.png");
    background-size: contain;
    background-color: rgb(14, 14, 14);
    color: white;

    h1 {
      color: white;
    }
  }

  &.second {
    background-image: url("../../assets/tablet.png");
  }

  &.third {
    background-image: url("../../assets/airpods.png");
  }
}
