.carouse-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; 

    .loop-container {
        display: flex;
        flex-direction: row;
        height: 100%;
        animation-fill-mode:both;

        &__item {
            display: inline-block;
            height: 100%;
        }
    }

    .indicator {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        margin: auto;
        font-size: 0;
    }
}