// 整个组件的根
.CarouseRoot {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: relative;
}

// slides容器滑动画定义
.SlidesContainer {
  transition-property: transform;
  transition-delay: 0s;

  // slide 容器样式
  .CarouselItem {
    display: inline-block;
    width: 100%;
  }
}

// slide下标指示器定义
.Indicators {
  cursor: pointer;
  list-style: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;

  // slide下标指示器定义
  .Indicator {
    margin: 0 4px;
    display: inline-block;
    width: 40px;
    height: 3px;
    border-radius: 3px;
    position: relative;
    background-color: #ccc;
    overflow: hidden;
  
    // 下标指示切换slide空隙的进度动画
    & > div {
      display: block;
      height: 100%;
      width: 100%;
      background-color: #fff;
      transform: translateX(-100%);
      animation-timing-function: linear;
    }
  
    // 引用进度动画
    &.IndicatorActive {
      & > div {
        & :local {
          animation-name: ProgressMove;
        }
      }
    }
  }
}

// 进度的动画
@keyframes ProgressMove {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}


