.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .slider {
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    transition: left 0.8s;
  }

  .item {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }

  .time-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 8rem;
    display: flex;
    justify-content: center;

    .bar-outer {
      width: 50px;
      margin: 0 5px;
      height: 3px;
      border-radius: 2px;
      background: rgba(100, 100, 100, 0.5);
    }

    .bar-inner {
      background: #fff;
      width: 0;
      height: 100%;
      border-radius: 2px;

      &.active {
        animation-name: filledIn;
        animation-timing-function: linear;

        @keyframes filledIn {
          from {
            width: 0;
          }

          to {
            width: 100%;
          }
        }
      }
    }
  }

}
