.carousel-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .slides {
    position: absolute;
    left: 0;
    display: flex;
    transition: all .5s ease;

    .slide-item {
      width: 100vw;
      height: 100vh;
      position: relative;

      .title {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 10%;
        transform: translateX(-50%);
        white-space: pre-wrap;
      }

      .text {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 30%;
        transform: translateX(-50%);
        white-space: pre-wrap;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .progress {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;

    .outer {
      display: inline-block;
      width: 50px;
      height: 2px;
      background-color: #9f9f9d;
      margin-left: 10px;
      border-radius: 2px;
      position: relative;

      .inner {
        display: inline-block;
        width: 0;
        height: 2px;
        background-color: #fff;
        border-radius: 2px;
        position: absolute;
        left: 0;
      }
    }
  }
}