.carousel-container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-content {
  display: flex;
  height: 100%;
  width: 100%;
}

.carousel-item {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

/**----dots------**/
.carousel-dots {
  position: absolute;
  display: flex;
}

.carousel-dots-top,
.carousel-dots-bottom {
  left: 50%;
  transform: translate(-50%, 0);
}

.carousel-dots-top {
  top: 10%;
}

.carousel-dots-bottom {
  bottom: 10%;
}

.carousel-dots-left,
.carousel-dots-right {
  top: 50%;
}
.carousel-dots-left {
  left: 5%;
  transform: translate(-50%, -50%) rotate(90deg);
}
.carousel-dots-right {
  right: 5%;
  transform: translate(50%, -50%) rotate(90deg);
}

.carousel-dot {
  width: 4.63VW;
  height: 3px;
  background: #a9a9a9;
  border-radius: 2px;
  margin-right: 10px;
  position: relative;
}
.carousel-dot:last-child {
  margin-right: 0;
}
 /* 增加点击热区，顺带保证 target 一定是 dot 节点 */
.carousel-dot::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 200%;
  max-height: 10px;
}

.carousel-dot-progress {
  height: 100%;
  border-radius: 2px;
  background: #fafafa;
  width: 0;
}

/**----dots-end------**/