.container {
    overflow: hidden;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
}

.title {
    font-size: 56px;
    font-weight: 600;
}

.desc {
    font-size: 28px;
    font-weight: 400;
    white-space: pre-line;
}

.content {
    margin-top: 150px;
}

.slide {
    height: 100%;
    min-width: 100%;
}

.icon img {
    width: 100%;
    height: 290px;
    object-fit: contain;
}
