.carousel {
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  will-change: transform;
  transition-property: transform;
}

.carousel_item {
  width: 100%;
  flex: 1 0 auto;
}

.indicator {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: absolute;
  bottom: 30px;
}

.indicator_item {
  width: 40px;
  height: 3px;
  border-radius: 2px;
  background-color: #777;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.indicator_item_inner {
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ddd;
  will-change: indicatorAnim;
}

.indicator_item_inner.active {
  width: 100%;
  animation-name: indicatorAnim;
  animation-timing-function: linear;
}

@keyframes indicatorAnim {
  from { width: 0; }
  to { width: 100%; }
}