.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.container_slide {
  width: auto;
  height: 100%;
  display: inline-block;
  transform: translateX(0);
  transition: transform 1s;
}

.loading {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
}
