.carousel{
    position: relative;
    .carousel__container {
        height: 100vh;
        overflow: hidden;
        position: relative;
        display: flex;
        transition-property: transform;
    }

    .carousel__dots{
        position: absolute;
        bottom: 5vh;
        left: 50%;
        transform: translateX(-50%);
    }
}



