.carousel {
    width: 100%;
    height: 100%;
    position: relative;
    .carousel-container {
        width: 100%;
        height: 100%;
        display: flex;
        transform: translateX(0);
    }
    .carousel-indicator {
        position: absolute;
        bottom: 80px;
        left: 0;
        right: 0;
        margin: auto;
    }
}
