
$prefix: 'carousel';

.#{$prefix} {
  width: 100%;
  height: 100%;

  &__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    // 创建层级作用域，避免内部层级泄漏
    z-index: 0;
  }

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
  }

  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
  }

  &__indicator-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 12px;
    bottom: 48px;
  }

  &__indicator {
    background: #A9A9A9;
    width: 48px;
    height: 2px;
    border-radius: 1px;
    overflow: hidden;
  }

  &__indicator-progress {
    border-radius: inherit;
    width: 100%;
    height: 100%;

    transition: none;
    transform: translateX(-100%);
    background: #fff;
  }
}