.indicator {
  display: inline-block;
  height: 2px;
  width: 40px;
  background-color: #a9a9a9;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 8px;
}

.indicatorInner {
  background-color: #fafafa;
  width: 0;
  height: 100%;
}