.process-bar-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    left: 50%;
    bottom: 120px;
}

.process-bar-item {
    position: relative;
    width: 50px;
    height: 2px;
    background-color: #bbb;
}

.process-bar-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #fafafa;
}