.carousel-progress {
  width: 100px;
  height: 8px;
  background-color: #aaa;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;

  .progress-bar {
    height: 100%;
    background-color: #eee;
  }
}
