.progress-container {
  display: inline-block;
  width: 45px;
  height: 2px;
  overflow: hidden;
  border-radius: 2px;
  background: #aaa;
}

.progress-container .progress-bar {
  width: 0%;
  height: 2px;
  background: #fff;
}