.slide {
  height: 100%;
  color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}
.slide-title {
  /* padding-top: 24px; */
  padding-top: 15%;
  margin-bottom: 24px;
}
.slide-title h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
}
.slide-description {
  font-size: 40px;
  line-height: 40px;
}
.slide-description h6 {
  margin: 0;
}
