.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &-items {
    display: flex;
  }

  &-tabs {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);
  }
}
