.box{
  position: relative;
  height: 100vh;
}
.carousel {
  width: 99999px;
  position: fixed;
  overflow: hidden;
}
.carousel-box {
  float: left;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  transition: left 0.8s;
  position: relative;
}
.carousel-font {
  position: relative;
  top: 30%;
}
.carousel-line {
  position: absolute;
  bottom: 20px;
  left: 50%;
}
.carousel-line-item{
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 4px;
  background: rgb(196, 196, 196);
  border-radius: 2px;
  margin:0px 3px;
  float: left;
}
.carousel-line-item-shade {
  position:absolute;
  background: #fff;
  height: 4px;
}