@mixin full-screen {
  width: 100vw;
  height: 100vh;
}

.carousel {
  @include full-screen;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .slider {
    display: flex;
    @include full-screen;

    .slide {
      display: flex;
      flex: 0 0 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @include full-screen;

      .poster {
        width: 150px;
        height: 150px;
        margin-top: 100px;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: auto 300%;
      }
    }
  }

  .dot-container {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    bottom: 100px;

    .dot-box {
      width: 50px;
      height: 2px;
      border-radius: 1px;
      position: relative;
      background-color:#acacac;

      .dot {
        background-color: #ffffff;
        width: 0;
        height: 100%;
        position: absolute;
        left: 0;
        top:0;

        &.actived {
          animation-name: process;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
        }
      }
    }
  }
}

@keyframes process {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}