.carousel {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    &-items {
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        width: 100%;
        transition: all linear 300ms;
    }
}