.carousel {
    overflow: hidden;
    position: relative;
}

.carousel-container {
    display: flex;
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
}

.carousel-item {
    width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
    background: no-repeat fixed center;
    background-size: auto 60%;
    background-position-x: 50%;
    background-position-y: 70%;
}

.carousel-item::after {
    position: absolute;
    top: 0px;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100vh;
    background-image: inherit;
    content: '';
}

.carousel-title {
    display: block;
    margin: 0;
    margin-top: 24vh;
    margin-bottom: 10px;
    font-size: 56px;
    font-weight: 600;
}

.carousel-item span {
    display: block;
}

.carousel-desc {
    font-size: 28px;
    font-weight: 400;
}

.carousel-indicators {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    left: 50%;
    bottom: 8vh;
    transform: translateX(-50%);
}

.carousel-indicator {
    width: 40px;
    height: 2px;
    margin-right: 5px;
    background-color: #a9a9a9;
    cursor: pointer;
}

.carousel-indicator-active {
    width: 40px;
    height: 2px;
    background-color: #fff;
    animation: indicatorLoading ease;
}

@keyframes indicatorLoading {
    0% {
        width: 0px;
    }

    100% {
        width: 40px;
    }
}