.pannel-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.content  {
  position: absolute;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  top: 20vh;
}

.title-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.text-wrapper {
  text-align: center;
}

.img-wrapper {
  position: absolute;
  width: 100%;
  bottom: 10vh;
  height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.img {
  display: block;
  height: 50vh;
  bottom: 10vh;
}