.image-outter {
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: inline-block;

    position: absolute;
    bottom: 160px;
    transform: translateX(-50%);


    &.iphone {
        background-image: url("../../assets/iphone.png");
    }

    &.tablet {
        background-image: url("../../assets/tablet.png");
    }

    &.airpods {
        background-image: url("../../assets/airpods.png");
    }
}
