.image-outter {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 160px;
  display: inline-block;
  height: 130px;
  position: absolute;
  transform: translateX(-50%);
  width: 130px;

  &.iphone {
    background-image: url('../../assets/iphone.png');
  }

  &.tablet {
    background-image: url('../../assets/tablet.png');
  }

  &.airpods {
    background-image: url('../../assets/airpods.png');
  }
}
