.page-item {
  min-width: 100%;

  .page-title {
    margin-top: 120px;
  }

  .page-title-item {
    font-size: 48px;
    font-weight: 600;
  }

  .page-subtitle {
    font-size: 26px;
    margin-top: 20px;
  }
}
