.page_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page_layout-center {
  padding-top: 200px;
}

.page_layout-center .text {
  max-width: 450px;
  margin-top: 10px;
}

.page_layout-center .title {
  max-width: 900px;
}

.page_gray {
  background: #EFEFF1;
}

.page_white {
  background: #F9F9F9;
}

.page_black {
  color: #F9F9F9;
  background: #0E0E0E;
}

.page_logo {
  width: 160px;
  margin-bottom: 110px;
}