@keyframes indicatorScale {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
.carousel-indicators {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 6vh;
  display: flex;
  justify-content: center;
}
.carousel-indicator {
  width: 56px;
  height: 4px;
  background: #aaa;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.carousel-indicator + .carousel-indicator {
  margin-left: 10px;
}
.indicator-content {
  position: absolute;
  height: 100%;
  width: 100%;
}
.indicator-progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left center;
}
.carousel-indicator-active .indicator-progress {
  animation-name: indicatorScale;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.carousel-indicator-active .indicator-content {
  background: #fff;
}
