.carousel-item {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

.iphone {
    background-image: url('../../../assets/iphone.png');
}
  
.airpods {
    background-image: url('../../../assets/airpods.png');
}
  
.tablet {
    background-image: url('../../../assets/tablet.png');
}