/**banner样式*/
.banner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/*banner图片*/
.banner__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}
/*banner文字容器*/
.banner__container {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 0;
}
/*banner标题样式*/
.banner__h1 {
  margin: 0 0 20px 0;
  font-size: 3em;
}
/*banner描述样式*/
.banner__p {
  font-size: 2em;
  margin: 0;
}
