.goods-card {
  text-align: center;
  position: relative;
  width: 100%;
  max-height: 100%;
  /* min-width: 800px; */
}

.goods-card-wrap {
  width: 100%;
  height: 0;
  padding: 0;
  padding-bottom: 62.5%;
  padding-bottom: min(62.5%, 100vh);
}

.goods-card-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  white-space: pre-wrap;
}

.goods-card-info {
  position: relative;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 4;
}

.headline {
  font-size: 54px;
  font-weight: bold;
}

.subhead {
  padding-top: 16px;
  font-size: 30px;
  min-height: 86px;
  font-weight: bold;
}

.image-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}

figure {
  margin: 0;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
