html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.swiper {
  overflow: hidden;
  width: 100%;
  position: relative;

  .slider-list {
    position: relative;
    transition-property: left;
    transition-timing-function: smooth;
    left: 0%;

    .slider {
      display: inline-block;
      height: auto;

      &>img {
        display: block;
        height: auto;
        width: 100%;
      }
    }
  }

  .dot-list {
    z-index: 99;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 25%;

    .dot-item {
      display: inline-block;
      width: 100px;
      height: 6px;
      margin: 6px;
      cursor: pointer;
      background: #333;

      .dot-item-inner {
        width: 0px;
        height: 6px;
        background: #ccc;
        transition-property: width;
        transition-timing-function: smooth;
      }
    }
  }
}