html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.swiper {
  overflow: hidden;
  width: 100%;

  .slider-list {
    position: relative;
    transition-property: left;
    transition-timing-function: linear;
    left: 0%;

    .slider {
      position: relative;
      display: inline-block;
      width: 100vw;
      height: 100vh;

      .description-info {
        position: absolute;
        top: 245px;
        left: 50%;
        width: 100%;
        z-index: 1;
        transform: translateX(-50%);

        .title {
          font-size: 48px;
          font-weight: bold;
          margin: 0 0 20px 0;

          p {
            padding: 0;
            margin: 0;
          }
        }

        .description {
          font-size: 28px;
          font-weight: 400;
          margin: 10px 0 0 0;

          p {
            padding: 0;
            margin: 0;
          }
        }
      }

      .image-container {
        width: 100%;
        height: 100%;

        &>img {
          display: block;
          width: 100%;
          height: 100%;
          max-width: 100%
        }
      }
    }
  }

  .dot-list {
    z-index: 99;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 5%;

    .dot-item {
      display: inline-block;
      width: 40px;
      height: 2px;
      margin: 0 6px;
      background-color: #333;
      cursor: pointer;

      @keyframes swiper-dot {
        0% {
          width: 0;
        }

        100% {
          width: 100%;
        }
      }

      .dot-item-inner {
        height: 100%;
        background: #ccc;
        animation-name: swiper-dot;
        animation-timing-function: linear;
      }
    }
  }
}