.custom-item {
  height: 100%;
  position: relative;
}
.custom-item-container {
  padding-top: 200px;
}
.custom-item-container .title {
  margin-bottom: 20px;
}
.custom-item-img {
  display: inline-flex;
  position: absolute;
  height: 150px;
  bottom: 150px;
  transform: translateX(-50%);
}