
.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

.shuffling{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.shuffling-item-container {
  width: 100vw;
  height: 100vh;
  list-style-type: none;
  position: relative;
}
.shuffling-item-container>li {
  width: 100vw;
  height: 100vh;
  position: absolute;
  float: left;
  transition: left 0.6s ease-in-out;
}

.shuffling-item-container>li>div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shuffling-item-container>li>div>article{
  height: 300px;
  padding-top: 150px;
}

.shuffling-controller-container{
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.shuffling-controller {
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.shuffling-controller > .shuffling-controller-item {
  width: 40px;
  height: 2px;
  background: #989898;
  display: inline-block;
  position: relative;

}

.shuffling-controller > .shuffling-controller-item > span {
  width: 0px;
  height: 2px;
  background: #d7d7d7;
  display: inline-block;
  position: absolute;
  left: 0;
}