target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.target
*.class

### IntelliJ IDEA ###
.idea
*.iws
*.iml
/*/.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

/antx.properties
*/*/bpmclasses
/.idealtest
.DS_Store

#bpm
/*/bpmclasses/
*.log*