.airpods {
  box-sizing: border-box;
  height: 100%;
  background-color: #f1f1f3;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;

  img {
    height: 120px;
    width: 120px;
    margin-bottom: 168px;
  }
}
