.carousel{
  position: relative;
  overflow: hidden;
}

.carousel-children{
  display: flex;
  height: 100%;
  align-items: center;
}
.carousel-vertical .carousel-children{
  flex-direction: column;
}

.carousel-dot-left .carousel-dot-list,
.carousel-dot-right .carousel-dot-list{
  flex-direction: column;
  height: 100%;
}

.carousel-dot-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel-dot-item{
  position: relative;
  width: 40px;
  height: 2px;
  border-radius:4px;
  margin: 0 4px;
  box-sizing: border-box;
  overflow: hidden;
}

.carousel-dot-item-info{
  position: absolute;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(169, 169, 169);
   border-radius: 4;
}

.carousel-dot-left .carousel-dot-item,
.carousel-dot-right .carousel-dot-item{
  height: 40px;
  width: 2px;
  margin: 4px 0;
}

.carousel-dot-item-background {
  background-color: rgb(250, 250, 250);
  width: 0;
  height: 2px;
}

.carousel-dot-left .carousel-dot-item-background,
.carousel-dot-right .carousel-dot-item-background{
  height: 0;
  width: 2px;
}


@keyframes dot-width {
  from {
      width: 0;
  }
  to {
      width: 101%;
  }
}

@keyframes dot-height{
  from {
    height: 0;
  }
  to {
    height: 101%;
  }
}
