.content {
  height: 100vh;
  width: 100vw;
  padding-top: 100px;
  text-align: center;
  position: relative;
  font-size: 24px;
  float: left;
  h1 {
    font-size: 50px;
  }
}
.content1 {
  color: #fff;
  background:url("../../assets/iphone.png") no-repeat center/75% rgb(17, 17, 17);
  background-position: center 55%;
  h1 {
    color: white !important;
  }
}
.content2 {
  background:url("../../assets/tablet.png") no-repeat center/130% rgb(250, 250, 250);
  background-position: center 70%;
}
.content3 {
  background:url("../../assets/airpods.png") no-repeat center/190% rgb(241, 241, 243);
  background-position: center 75%;
}
