.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  cursor: pointer;
  color: #000;
}
.carousel-prev {
  left: 10%;
}
.carousel-next {
  right: 10%;
}