# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.springBeans

# idea ignore
.idea/
*.ipr
*.iml
*.iws
logs


# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# mvn
.mvn/
.mvnw
mvnw
mvnw.cmd

# system ignore
.DS_Store
Thumbs.db

*/target/
/spring.logistics-log.path_IS_UNDEFINED/
