.ad-carousel {
  min-height: 745px;
  max-height: 850px;

  .ad-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .ad-content {
      width: 100%;
      height: 745px;

      p {
        margin-block-start: 0;
        margin-block-end: 0;
      }
    }
  }

  .phone-bg {
    background-color: rgb(17, 17, 17);
  }
  .phone-content {
    padding: 193px 0;
    color: #fff;
  }
  .phone-icon {
    background-image: url('../assets/iphone.png');
    background-repeat: no-repeat;
    background-position: -305.84px -288.63px;
    background-size: 688px 430.43px;
    width: 77px;
    height: 97px;
    margin: 189px auto;
  }

  .tablet-bg {
    background-color: rgb(250, 250, 250);
  }
  .tablet-content,
  .arPods-content {
    padding: 192px 0;
    color: #000;
  }
  .tablet-icon {
    background-image: url('../assets/tablet.png');
    background-repeat: no-repeat;
    background-position: -586.47px -264.23px;
    background-size: 1260.94px 394.04px;
    width: 88px;
    height: 89px;
    margin: 238px auto;
  }

  .arPods-bg {
    background-color: rgb(241, 241, 241);
  }

  .arPods-icon {
    background-image: url('../assets/airpods.png');
    background-repeat: no-repeat;
    background-position: -890.04px -262.48px;
    background-size: 1868.11px 389.19px;
    width: 88px;
    height: 84.75px;
    margin: 225px auto;
  }
}
