.banner{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding-top: 150px;
  background-repeat: no-repeat;
  .title{
    font-size: 48px;
    font-weight: 700;
  }
  .desc{ 
    margin-top: 24px;
    font-size: 32px;
  }
}