.banner {
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: center 70%;
  white-space: pre-wrap;
  padding-top: 25%;
  box-sizing: border-box;
}
.banner-content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}
