.banner-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding-top: 220px;
    text-align: center;
    box-sizing: border-box;
}

.banner-container-title {
    margin: 0;
    font-size: 78px;
}

.banner-container-subtitle {
    margin: 0;
    font-size: 32px;
}
