.head{
	height: 1.13rem;
	line-height: 1.13rem;
	padding: 0.21rem 0 0.12rem;
	/*display: flex;
	justify-content: space-between;
	align-items: center;*/
	background: #fff;
	overflow: hidden;
}
.head .headone{
	width: 20%;
	height: 0.8rem;
	display: inline-block;
	background: url(/images/headone.png) no-repeat center left;
	background-size: 40%; 
	float: left;
}
.head .spanone{
	font-size:0.45rem;
	font-family:PingFangSC-Medium;
	font-weight:500;
	color:rgba(39,33,33,1);
	line-height:0.68rem;
	float: left;
	width: 60%;
	text-align: center;
}
.head .headtwo{
	width: 20%;
	height: 0.8rem;
	display: inline-block;
	background: url(/images/headtwo.png) no-repeat center right;
	background-size: 50% ; 
	float: right;
}