body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    background: url("/images/bg-pic.png") no-repeat ;
    background-size: 100% 100%;
    /*overflow: hidden;*/
}
.invi-title{
    padding-top: 1.5rem;
}
.invi-title p{
    font-size: 0.56rem;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    text-align: center;
}
.invi-title .diamond{
    font-size: 0.8rem;
}
.invi-title .user-tip{
    font-size: 0.35rem;
}
.invi-desc{
    margin-left: 0.53rem;
    margin-right: 0.53rem;
    margin-top: 1rem;
}
.invi-desc p{
    background:rgba(255,246,223,1);
    border:3px solid rgba(250,194,83,1);
    border-radius:10px;
    padding:0.97rem 0.53rem;
    font-size: 0.4rem;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(155,54,35,1);
}
.btn-glups{
    width: 7.09rem;
    text-align: center;
    margin: auto;
    margin-top: 1.77rem ;
}
.input-box{
    text-align: center;
    background: url("/images/input-box.png") no-repeat;
}
.btn-imme{
    background: url("/images/invi-btn.png") no-repeat;
}
.input-box,.btn-imme{
    width: inherit;
    height: 1.63rem;
    background-size: 100% 100%;
}

/*弹框*/
    *{
            margin: 0;
            padding: 0;
        }
        body,html{
            width: 100%;
            height: 100%;
        }
        .successalert{
            display: none;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.3);
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .successalert .successbox{
            width: 7.7rem;
            height: 5.33rem;
            background: url(/images/alertbg.png) no-repeat;
            background-size: 100% 100%;
            margin:5.76rem auto 0;
        }
        .successalert .title{
            font-size:0.48rem;
            font-family:SourceHanSansSC-Medium;
            font-weight:bold;
            color:rgba(243,134,23,1);
            line-height:0.26rem;
            text-align: center;
            padding-top: 0.72rem;
        }
        .successalert .title span{
            color: #F4B92E;
            font-size: 0.4rem;
        }
        .successalert .text{
            width: 6.74rem;
            margin: 0 auto;
            font-size:0.4rem;
            font-family:MicrosoftYaHei;
            font-weight:400;
            color:rgba(155,54,35,1);
            text-align: center;
            padding-top: 0.71rem;
            line-height: 0.7rem;
        }
        .successalert .btn{
            width: 6.74rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 0.57rem;
            margin:0 auto;
        }
        .successalert .btn input[type=button]{
            width: 2.98rem;
            height: 0.9rem;
            border: solid 1px #F4B92E;
            color: #F4B92E;
            text-align: center;
            line-height: 0.8rem;
            border-radius: 50px;
            background: none;
        }
        .successalert a{
            display: inline-block;
            width: 3.42rem;
            height: 1.34rem;
            background: url(/images/btn.png) no-repeat;
            background-size: 100% 100%;
        }

        /*下载页*/
        .download .download_text{
            width:9.15rem;
            /*height:2.89rem;*/
            font-size:0.4rem;
            font-family:MicrosoftYaHei;
            font-weight:400;
            color:rgba(155,54,35,1);
            line-height:0.62rem;
            margin: 3.6rem auto 0;
            background:rgba(255,246,223,1);
            border:3px solid rgba(250,194,83,1);
            border-radius:10px;
            padding: 0.26rem 0.53rem;
        }
        .download .load{
            display: block;
            width: 7.09rem;
            height: 1.62rem;
            background: url(/images/download.png) no-repeat;
            background-size: 100% 100%;
            margin: 5.5rem auto 0; 
        }

        .wrap-box{
            width: 100%;
            height: 100%;
        }