.portrait{
    width: 2.08rem;
    height: 1.84rem;
    margin-left: 0.53rem;
    margin-right: 0.28rem;
    position: relative;
}
.portrait img{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
.portrait .heade{
    margin: 0 auto;
    position: relative;
}
.portrait .heade .heade_child{
    width: 1.6rem !important;
    height: 1.6rem !important;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -0.8rem;
}