* {
        padding: 0;
        margin: 0;
        outline: none
        }
    
    html, body {
        font-size: 0.14rem;
        background-color: #FCFCFC;
        }
    
    
    section {
        min-height: 100%;
        max-width: 750px;
        margin: 0 auto;
        padding: 10px;
        background-color: #FCFCFC;
        }
    
    img {
        max-width: 100%;
        }
    
    .p20 {
        padding: 0 8px;
        }
        
    p{
        padding:0.05rem 0rem 0.02rem 0rem;  
        }
        
    p,h3{
        color: #5E5959;    
        }
    
    h1{
        padding:0.05rem 0rem 0.04rem 0rem;
        }
        
    h2{
        padding:0.12rem 0rem 0.04rem 0rem;
        }
    
    h1,h2{
        color: #272121;
        font-weight: bold;
        }
        
    p,h1,h2,h3{
        text-indent: 0px;
        line-height: 150%;
        letter-spacing: 0.016em;
        }
        
     h1{
        font-size: 0.2rem;
        }   
        
    h2{
        font-size: 0.14rem;
        }
        
    h3{
        font-size: 0.12rem;
        }
        
     a {
        color: #3395FF;
        text-decoration: none;
        }
.yemianbg{
    background-image: url(../images/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 750px;
    margin: 0 auto;
    min-height: 100%;
}
.pic_tittle{
    width: 100%;
    margin: 2.7em 0;
}
.pic_part{
    width: 100%;
    margin-top: 0;
    margin-bottom: 2.2em;
}
.kongbai{
    height: 1.5em;
    width: 100%;
}