/*
Write your variables here. All available variables can be
found in https://github.com/iview/iview/blob/2.0/src/styles/custom.less.
*/
//@import '~iview/src/styles/index.less';
@import '~view-design/src/styles/index.less';
.ivu-message{
  z-index: 999999999999 !important;
}
.right-input .ivu-form .ivu-form-item-label{
  color:#B5BBC0
}
.right-input .ivu-input:hover,.right-input .ivu-input:focus{
  outline:none;
  border:1px solid #dcdee2 ;
  border-bottom: 1px solid #4cc692;
}

.right-input  .ivu-form-item{
  margin-bottom: 18px;
}
.right-input  .ivu-input{
  height: 36px;
}
.right-input .ivu-form-item:last-child{
  margin-top: 22px;
}
.ivu-menu-light .ivu-menu-submenu{
  box-shadow: 0px 1px 1px #dedede;
}
.ivu-menu-submenu-title > i:first-child, .ivu-menu-submenu-title span > i:first-child {
    margin-right: 8px;
    border-radius: 50%;
    background: #54d2f1;
    width: 24px;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    margin-top: -2px;
}
.ivu-menu-submenu-title > i:before{
  color: #fff;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #008cff;
  background: #c8eafd;
  z-index: 2;
  font-weight: bold;
}