<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Koa2 Demo</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/styles/default.min.css">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.12.0/build/highlight.min.js"></script>
</head>
<body>
  <div id="doc"></div>
  <script>
    function ajax (src, cb) {
      var xmlhttp = new XMLHttpRequest()
      xmlhttp.open("GET", src)
      xmlhttp.send()
      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState === 4 && xmlhttp.status === 200) cb(xmlhttp.responseText)
      }
    }

    ajax('index.md', function (text) {
      doc.innerHTML = marked(text)
      ;[].forEach.call(doc.querySelectorAll("pre > code"), hljs.highlightBlock)
    })
  </script>
  <style>
    html {
      margin: auto;
      max-width: 1000px;
      background-color: #f9f9f9;
    }
    body {
      padding: 10px 20px;
      background-color: #fff;
    }
    h3::before {
      content: '> '
    }
    code {
      font-family: Consolas, "Courier New", Courier, monospace;
    }
    blockquote {
      margin: 0;
      padding: 0 10px;
      border: 1px solid #eee;
    }
    blockquote > * {
      margin: 10px 0;
    }
  </style>
</body>
</html>