# Ignore artifacts:
build
node_modules
coverage
dist

.eslintrc.js
prettier.config.js
webpack.config.js
package-lock.json
package.json
tsconfig.json
jest.config.js
*.config.js
LICENSE
README.md
pnpm-lock.yaml
typedoc.json
