$time: 3s !default;
@keyframes running {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
.tbContainer {
    display: flex;
    width: 200px;
    .timeBar {
      margin: auto 5px;
      width: 500px;
      height: 5px;
      border-radius: 2px;
      background-color: rgb(169,169,169);
      display: flex;
      align-items: center;
      .goingLine {
        height: 100%;
        border-radius: 4px;
        width: 0;
        // transition: all 0.5s cubic-bezier(0, 0.64, 0.36, 1);
        background-color: rgb(250,250,250);
        animation-duration: $time;
        &.run {
            animation-name: running;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
      }
    }
  }
  