.progress {
  width: 100%;
  min-width: 60px;
  height: 4px;
  overflow: hidden;
  border-radius: 2px;
  background-color: #cfcfcf;
  cursor: pointer;

  :global {
    span {
      display: block;
      height: 100%;
    }
  }
}
