  .carousel_item {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
  }

  .carousel_item .title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .carousel_item .desc {
    font-size: 24px;
  }
  
  