.banner-item{
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: column;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  white-space: pre-wrap;
}
