@keyframes move {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.indicator-item {
  position: relative;
  width: 50px;
  height: 3px;
  border-radius: 3px;
  background-color: #bab3b3;
  margin: 4px;
  cursor: pointer;
  span {
    background-color: white;
  }
  &.active {
    span {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 3px;
      animation-name: move;
    }
  }
}