.dot {
  &__container {
    display: flex;
  }

  &__item {
    min-width: 40px;
    width: 4vw;
    height: 3px;
    border-radius: 1px;
    background-color: #bbb;
    margin: 0 4px;
    overflow: hidden;
  }

  &__mask {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transform: translateX(-100%);
  }

  &__mask--active {
    animation-name: move;
    animation-timing-function: linear;
  }
}

@keyframes move {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
