.Content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.Content1 h1{
    font-size: 6rem;
    font-weight: 500;
    margin-top: 13rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

.Content1 span{
    font-size: 2.5rem;
    font-weight: 400;
    color: #ffffff;
}

.Content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.Content2 h1{
    font-size: 6rem;
    font-weight: 500;
    margin-top: 13rem;
    margin-bottom: 1.5rem;
    color: #000;
}

.Content2 span{
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
}

.Content3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}   

.Content3 h1{
    font-size: 6rem;
    font-weight: 500;
    margin-top: 13rem;
    margin-bottom: 1.5rem;
    color: #000;
}
.Content3 h1:first-child{
    margin-bottom: -10%;
}

.Content3 span{
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
}
