
.indicator {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}
.indicator:hover{
  cursor: pointer;
}

.indicator_outer {
  width: 90px;
  height: 7px;
  background-color: #a9a9a9;
  margin-left: 20px;
  border-radius: 5px;
}
.indicator_inside {
  height: 100%;
  border-radius: 5px;
  animation-fill-mode: forwards;
  animation-name: stepsBar;
  animation-iteration-count: infinite;
  animation-duration: 0s;
}
.animateStyle{
  animation-duration: 3s;
  background-color:#FFFFFF;
}

@keyframes stepsBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

