.carousel-item {
  flex: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.carousel-item-info {
  margin-top: 25vh;
  height: 40vh;
}

.carousel-item-title {
  font-size: 50px;
  font-weight: 600;
  white-space: pre-wrap;
}

.carousel-item-desc {
  margin-top: 10px;
  font-size: 30px;
  white-space: pre-wrap;
}

.carousel-item-img {
  width: 300px;
  height: 800px;
  background-size: cover;
  background-position: center -120px;
  background-repeat: no-repeat;
}
