.slider {
    height: 100%;
    width: 100%;
    font-size: 20px;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;

    .title {
        font-size: 56px;
        font-weight: 600;
        padding-top: 50px;
    }

    .text {
        font-size: 28px;
        font-weight: 400;
    }

    &_0 {
        color: white;
    }
}