.iphonepage-wrap{
    width: 100vw;
    height: 100vh;
    background-color: #111111;
    display: block;
    text-align: center;
    background-image: url('../../assets/iphone.png');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center center;
}
.xphone-title{
    color: white;
    margin-top: 200px;
    margin-bottom: 0px;
}
.xphone-text{
    color: white;
    margin-top: 28px;
}
.iphone-img{
    width: 600px;
}