.container {
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;

  & > div {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
}
