.gradle/
build/
*/build/
gradlew
gradlew.bat
*/.settings/
*/.idea/
*/.classpath
*/.project
*/target
.project
.settings
*.iml
.idea/*
target/*
logs/*
/target/
.classpath
.vscode
.project
src/main/resources/config
config/*.*
/disconf/
/span/
/.idea/
