{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-transform-modules-commonjs",
      [
        "transform-imports",
        {
          "nanoid/non-secure": {
            "transform": "nanoid/non-secure/index.cjs",
            "preventFullImport": true
          }
        }
      ]
    ]
  }
  
