.appContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    .listContainer{
        display: flex;
        flex-direction: column;
        margin: 20px;
        .item{
            border-left: 1px solid #50b855;
        }
    }
    .form{
        > * {
            margin: 20px;
        }
        margin: 20px;
        .input {
            border: 0;
            outline: 0;
            height: 36px;
            padding: 5px;
            width: 100%;
            border-bottom: 1px solid #c8c8c8;
        }
        .errorString{
            color: #d11b1b;
        }
    }
}