
.home {
  width: 100vw;
  height: 100vh;

  .page-wrapper {
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &.xphone {
      color: white;
    }

    &.tablet {
      color: black;
    }

    &.airpods {
      color: black;
    }

  }

  .mt200 {
    margin-top: 200px;
  }

  .title {
    margin-bottom: 20px;
  }

  .desc {
    margin-bottom: 5px;
    font-size: 24px;
  }

}

