.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .carousel-content {
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition-property: all;
    transition-timing-function: ease;
    position: relative;
  }

  .dots {
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;

    .dot {
      background-color: #a9a9a9;
      width: 40px;
      height: 1px;

      &:not(:last-child) {
        margin-right: 8px;
      }

      &.active {
        background-color: #fff;
      }

      .progress {
        background-color: #fff;
        height: 100%;
        width: 0;
      }

      @keyframes loadProgress {
        0% {
          width: 0;
        }
        100% {
          width: 100%;
        }
      }
    }
  }
}
