.card-layout-container__white {
    background-color: #fafafa;
    color: black;
}
.card-layout-container__black {
    background-color: #111;
    color: white
}
.card-layout-container__gray {
    background-color: #f1f1f3;
    color: black;
}
.card-layout-cotainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding-top: 200px;
    box-sizing: border-box;
}
.card-layout-title {
    font-size: 62px;
    font-weight: 600;
    width: 1000px;
    position: relative;
    margin: 0 auto;
}
.card-layout-tips {
    font-size: 36px;
    z-index: 1;
    position: relative;
}
