.carousel-item {
    flex: 0 0 100%;
    height: 100%;
    padding: 220px 0 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center calc(100% - 140px);

    .carousel-item-header{
        font-size: 64px;
        margin: 0.5em 0;
    }
    .carousel-item-description{
        font-size: 32px;
    }
}