.my-carousel-item {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding-top: 15vh;

  .title {
    text-align: center;
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 20px;
  }

  .desc {
    text-align: center;
    font-size: 28px;
    line-height: 28px;
  }

  .image {
    height: 400px;
    max-width: 100%;
    margin: auto;
  }
}
