@keyframes slide-right-in{
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@-webkit-keyframes slide-right-in{
    0% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}

@keyframes slide-left-in {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@-webkit-keyframes slide-left-in {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

.carousel-item-active {
    position: relative;
    overflow: hidden;
    display: block;
}

.carousel-item-deactive {
    position: relative;
    overflow: hidden;
    display: none;
}