.carouselItems {
    padding-top: 25vh;
    flex: 1;
    position: relative;

    .title {
        font-size: 56px;
        font-weight: 600;
        line-height: 1.5;
    }

    .text {
        font-size: 28px;
        font-weight: 400;
    }

    .img {
        position: absolute;
        bottom: 15vh;
        left: 50%;
        transform: translateX(-50%);
        &>img {
            height: 96px;
        }
    }
}
