.carousel {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    &-list {
      height: 100%;
      display: flex;
    }
    &-item {
      flex: 1;
      height: 100%;
      text-align: center;
      &-title {
        font-size: 24px;
        font-weight: bold;
      }
      &-subtitle {
        font-size: 16px;
      }
      &-img {
        width: 100%;
      }
  
    }
    &-indicators {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      &-item {
        width: 50px;
        height: 3px;
        background-color: #a9a9a9;
        position: relative;
        margin-right: 8px;
        cursor: pointer;
        border-radius: 3px;
        overflow: hidden;
        div {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          border-radius: 3px;
          animation-name: move;
          animation-timing-function: linear;
          width: 100%;
        }
      }
      .active {
        div {
          background-color: #fff;
        }
      }
    }
  }
  
  @keyframes move {
    0%{
      transform: translateX(-100%);
    }
    100%{
      transform: translateX(0)
    }
  }