.buy__content{

    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.title__tablet--large{
    margin-top: 40%;
    text-align: center;
    font-size: xx-large;
   
 }