.tablet__content{
    /* background-color: black; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.title__tablet--large{
    text-align: center;
    font-size: xx-large;
   
 }
 
 .title__tablet--small{
     text-align: center;
     width: 250px;
     
 }

 .title{
    /* font-color: white; */
     margin-top: 90%;
  }

  .tablet__sample{
    /* // margin-top: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
}