.goods-container {
    height: 100%;
    padding-top: 10vw;
    font-family: 'PingFangSC-Regular', 'sans-serif', 'Microsoft YaHei';
}
.goods-title {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 1vh;
}

.goods-img {
    margin-top: 9vw;
}
.goods-img img {
    width: 6vw;
}