.tabletpage-wrap{
    width: 100vw;
    height: 100vh;
    background-color: #fafafa;
    background-image: url('../../assets/tablet.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.tablet-title{
    margin-top: 10vw;
    color: black;
}
.tablet-text{
    margin-top: 2vw;
}
.tablet-img{
    height: 20vw;
    margin-top: 3vw;
}