# Xcode

#

# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore &Swift.gitignore

# Mac OS X Finder and whatnot

.DS_Store

## Build generated

build/DerivedData/

## Various settings

*.pbxuser!default.pbxuser

*.mode1v3!default.mode1v3

*.mode2v3!default.mode2v3

*.perspectivev3!default.perspectivev3

xcuserdata/

## Other

*.moved-aside

*.xcuserstate

*.xccheckout

## Obj-C/Swift specific

*.hmap

*.ipa

*.dSYM.zip

*.dSYM

作者：点火柴的小男孩
链接：https://www.jianshu.com/p/5306d027b52c
来源：简书
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。