.App {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

.img-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  h3 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    &:first-child {
      margin-top: 150px;
    }
  }
  p {
    margin: 0;
    font-size: 20px;
    text-align: center;
    &:first-child {
      margin-top: 50px;
    }
  }
  &:first-child {
    color: #fff;
  }
}
