@import url('./tailwind.css');
.App {
  text-align: center;
  position: relative;
  width: 400px;
  height: 300px;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}
