.App {
  text-align: center;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

.carousel-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px;
}

.carousel-item-first {
  color: white;
  background-image: url('./assets/iphone.png');
  background-size: 700px 500px;
  background-color: rgb(17, 17, 17);
}

.carousel-item-second {
  background-image: url('./assets/tablet.png');
  background-size: 1500px 500px;
  background-color: rgb(250, 250, 250);
}

.carousel-item-third {
  background-image: url('./assets/airpods.png');
  background-size: 2000px 500px;
  background-color: rgb(241, 241, 243);
}
