body, html{
  margin: 0;
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 100px 16px 160px 16px;
}

.banner-title{
  color: #fff;
  text-align: center;
  font-size: 66px;
}
.banner-title p{
  padding: 0;
  margin: 0;
}

.banner-context{
  color: #fff;
  text-align: center;
  font-size:24px;
  margin: 0;
  padding: 0;
}

.iphone-banner{
  background-color: rgb(17, 17, 17);
}

.tablet-banner{
  background-color: rgb(250, 250, 250);
  background-position: center bottom 100px;
}

.tablet-banner .banner-title,
.tablet-banner .banner-context{
  color: #000;
}

.airports-banner{
  background-color: rgb(241, 241, 243);
  background-position: center bottom 100px;
}

.airports-banner .banner-title,
.airports-banner .banner-context{
  color: #000;
}
