.App {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}
