.App {
  text-align: center;
  position: relative;
}
body {
  background-color: #999;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}
.component-container {
  width: 100%;
  max-width: 1240px;
  max-height: 720px;
  margin: auto;
  height: 100vh;
}
.component-cell {
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  background-color: #101010;
  justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.component-cell-1 {
  background-color: #101010;
  color: white;
}
.component-cell-2 {
  background-color: white;
}
.component-cell-3 {
  background-color: #f2f2f3;
}
.component-cell h1 {
  font-size: 46px;
  font-weight: 600;
  margin-bottom: 20px;
}
.component-cell div {
  font-size: 22px;
  font-weight: 400;
}
.component-cell .imgs {
  margin-left: auto;
  margin-right: auto;
}
