.app {
  height: 100%;
  width: 100%;
}

.main-carousel {
  :global {
    .carousel-list {
      .carousel-item {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
    }
  }
}
