.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.title {
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 16px;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

.page {
  width: 100%;
  height: 60vh;
  background-size: auto 50%;
  background-position: center 75%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 20vh 0;
}

.page1 {
  color: #fff;
  background-color: #111111;
  background-image: url(./assets/iphone.png);
}

.page2 {
  background-color: #f9f9f9;
  background-image: url(./assets/tablet.png);
}

.page3 {
  background-color: #f0f0f2;
  background-image: url(./assets/airpods.png);
}