.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.iphone{
  background-color: #111111;
  color: #ffffff;
}
.tablet{
  background-color: #fafafa;
}
.airpods{
  overflow: hidden;
  background-color: #f1f1f3;
}


