@import-normalize;

.main {
    position: relative;
    padding: 20px;

    .title {
        text-align: center;
    }

    .demo {
        width: 500px;
        height: 300px;
    }

    .slide {
        display: flex;
        flex-direction: column;
        text-align: center;

        .content {
            height: 65%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                margin: 5px 0;
            }

            p {
                margin: 0;
                font-size: 14px;
            }
        }

        .image {
            height: 15%;
            display: flex;
            justify-content: center;

            img {
                height: 100%;
            }
        }
    }

    .bg_white {
        background-color: #f9f9f9;

        .content {
            color: black;
        }
    }

    .bg_gray {
        background-color: #f0f0f0;

        .content {
            color: black;
        }
    }

    .bg_black {
        background-color: #111111;

        .content {
            color: white;
        }
    }
}
