.App {
  text-align: center;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

.pr-banner-container {
  width: 100vw;
  height: 560px;
}

.pr-banner-item {
  position: relative;
}

.pr-banner-indicator {
}

.pr-banner-info {
  position: absolute;
  top: 120px;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}

.pr-banner-info > p {
  margin-bottom: 6px;
  line-height: 1;
}

.pr-banner-title {
  color: #333;
  font-size: 48px;
  font-weight: bold;
}

.pr-banner-subtitle {
  margin-top: 24px;
  color: #333;
  font-size: 24px;
}

.pr-banner-desc {
  color: #333;
  font-size: 32px;
}
