* {
  padding: 0;
  margin: 0;
}

body,html, #root {
  height: 100%;
}


.App {
  height: 100%;
}

.page-container {
  width:  100%;
  height: 100%;
  overflow: hidden;
  position: relative; 
}

.page-iphone {
  background-color: rgb(17, 17, 17);
}

.page-tablet {
  background-color: rgb(250, 250, 250);
}

.page-airpods {
  background-color: rgb(241, 241, 243);
}

.page-text-content {
  margin: auto;
  text-align: center;

  position: relative;
  z-index: 2;
}

.page-iphone-text {
    color: white;
}

.page-tablet-text {
  color: black;
}

.page-airpods-text{ 
  color: black;
}

.page-title {
  font-size: 60px;
  margin-top: 100px;
  font-weight: 700;
}

.page-airpods-second-title{
  margin-top: 10px;
}

.page-subtitle {
  font-size: 30px;
  margin-top: 10px;
  font-weight: 400;
}


.bottom-img{
  width: 100%;
  position: absolute;
  bottom: 160px;
  left: 0;
  z-index: 1;
  object-fit: cover;
}

.tablet-img {
  height: 400px;
}

.airpods-img {
  height: 400px;  
}