.App {
  text-align: center;
  position: relative;

  .title {
    font-size: 56px;
    font-weight: 600;
  }
  
  .text {
    font-size: 28px;
    font-weight: 400;
  }
}

.carousel-slider  {
  .iphone-slide {
    color: #ffffff;
    background-color: #111111;
  }

  .tablet-slide {
    color: #000000;
    background-color: #f9f9f9;
  }

  .airpods-slide {
    background-color: #f1f1f3;
  }

  .slide-container {
    padding-top: 120px;
  
    .title {
      margin: 0;
      font-size: 50px;
      line-height: 50px;
      white-space: pre-wrap;
    }
  
    .sub-title {
      position: relative;
      z-index: 99;
      font-size: 28px;
      white-space: pre-wrap;
    }
  
    .img-container {
      position: absolute;
      left: 0;
      bottom: 100px;
      width: 100%;
      height: 400px;
      img {
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: contain;
      }
    }
  }
}
