p {
  margin: 0;
}

.banner {
  height: 620px;
  text-align: center;

  .title {
    font-size: 50px;
    font-weight: 600;
    margin-top: 120px;
  }

  .desc {
    font-size: 28px;
    font-weight: 400;
  }

  &.iphone {
    color: #fff;
    background: #101010 url('./assets/iphone.png') center 70% no-repeat;
    background-size: 620px;
  }

  &.tablet {
    color: #000;
    background: #f9f9f9 url('./assets/tablet.png') center 72% no-repeat;
    background-size: 1150px;
  }

  &.airpods {
    color: #000;
    background: #f0eff2 url('./assets/airpods.png') center 74% no-repeat;
    background-size: 1725px;
    .title {
      font-size: 46px;
      margin-top: 150px;
    }
  }
}