.app {
  text-align: center;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}


.content {
  .white {
    color:#fff
  }
  .title {
    font-size: 26px;
    line-height: 30px;
  }
  .description {
    font-size: 20px;
  }
}