#root {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}
