.item {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-position: 0 -80px;
  color: #fff;
  text-align: center;
  padding-top: 100px;
  .title {
    font-size: 48px;
    font-weight: bold;
  }
  .desc {
    font-size: 24px;
  }
}
.iphone {
  background-image: url("./assets/iphone.png");
  color: #fff;
}
.tablet {
  background-image: url("./assets/tablet.png");
  color: #000;
}
.aripods {
  background-image: url("./assets/airpods.png");
  color: #000;
}
