.App {
  text-align: center;
}

.title {
  margin: 25vh 0 0;

  line-height: 1.6;
  font-size: 56px;
  font-weight: 600;
}
.text {
  margin: 0;

  line-height: 1.4;
  font-size: 28px;
  font-weight: 400;
}
.image {
  position: absolute;
  right: 0;
  bottom: 20vh;
  left: 0;

  width: 120px;
  margin: 0 auto;
  border-radius: 12px;
}
