.banner {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 20vh;

  &.bgBlack {
    background: #111;
    color: #f9f9f9;
  }
  &.bgWhite {
    background: #f9f9f9;
    color: #111;
  }
  &.bgGrey {
    background: #f0f0f2;
    color: #111;
  }
}
