.container {
    width: 100%;
    height: 100vh;
}

.banner {
    height: 100%;
    background-repeat: no-repeat;
    background-size: auto 500px;
    background-position: 50% 79%;
}

.slogan {
    padding-top: 18%;
    height: 120px;

    h1 {
        margin-top: 0;
        margin-bottom: 12px;
        text-align: center;
        font-size: 72px;
        white-space: normal;
        word-wrap: normal;
    }

    p {
        margin: 0;
        font-size: 36px;
    }
}