.container {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel_item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  color: #fff;
  background-color: #312520;
}

.loading {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.indicator_outer {
  width: 90px;
  height: 7px;
  background-color: #0000001a;
  margin-left: 20px;
  border-radius: 5px;
}

.indicator_inside {
  cursor: pointer;
  height: 100%;
  border-radius: 5px;
  animation-fill-mode: forwards;
  animation-name: progressBar;
  animation-iteration-count: infinite;
}

@keyframes progressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.carousel_info_container {
  position: relative;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
}
.carousel_carousel_info_info {
  width: 100%;
  height: 100%;
}
.carousel_info_info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #000;
  width: 850px;
  
}
.carousel_info_image_container {
  width: 100%;
  height: 100%;
}
.carousel_info_image {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 50px;
  white-space: break-spaces;
}
.describe {
  width: 310px;
  display: inline-block;
  font-size: 25px;
  white-space: break-spaces;
}