.carousel-item-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.content {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.image {
  width: 50%;
  height: 50%;
  background-position: center bottom;
  background-size: cover;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
}
