/* 容器大小 */
.container {
    height: 650px;
    width: 100%;
    overflow: hidden;
}
  
/* 图片大小 */
.wrap {
    overflow: scroll;
    transition: transform 0.3s ease;
    height: 100%;

    .image-item {
        display: block;
        height: 100%;
        float: left;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }
    }
}