.carousel-item {
    box-sizing: border-box;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .carousel-item h3 {
    font-size: 40px;
    white-space: pre-wrap;
    margin: 10px auto;
  }
  
  .carousel-item p {
    font-size: 20px;
    white-space: pre-wrap;
    margin: 10px auto;
  }