.description {
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
}

.description .title,
.description .comment {
    list-style: none;
    padding: 0;
}

.description .title {
    font-size: 56px;
    font-weight: 600;
}
.description .comment {
    padding: 0;
    font-size: 28px;
    font-weight: 400;
}

.description-light {
    color: #fff;
}

.description-dark {
    color: #000;
}