.banner {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  text-align: center;
}

.bannerTextContainer {
  margin: 0 auto;
  padding-top: 100px;
}
.bannerTextContainer.blackBackground {
  color: white;
}

.bannerTitle {
  font-size: 30px;
  font-weight: bold;
}

.bannerDescText {
  font-size: 16px;
}