/* @import '~antd/dist/antd.less'; */
#root{
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#step1{
  width: 33%;
}


.text__content{
  font-size: 0.75rem;
  line-height: 1.21429;
  color: rgb(158, 158, 158);
  text-align: center;
  display: flex;
  font-style: normal;
}

