.container {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #333;
}

.content {
  z-index: 1;
}

.title {
  font-size: 48px;
  margin-top: 300px;
  font-weight: 600;
}

.desc {
  font-size: 32px;
  margin-top: 10px;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
