@keyframes slider-item-fill {
    0% {
        width: 0
    }
    100% {
        width: 100%;
    }
}

.slider-item {
    height: 5px;
    width: 60px;
    margin: auto 10px;
    background-color: #666;
    float: left;
}

.slider-item-fill {
    display: block;
    width: 0;
    height: 5px;
    background-color: #bbb;
}