.item {
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  background-color: #EEEEEE;
}

.title {
  font-size: 64px;
  margin: 0;
  line-height: 1.5;
  max-width: 1000px;
}

.slogan, 
.cost {
  font-size: 36px;
  font-weight: normal;
  line-height: none;
  margin: 0;
}

.productInfo {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productImage {
  width: 100px;
  position: absolute;
  bottom: 240px;
  left: 50%;
  transform: translateX(-50%);
}

.productImage > img {
  width: 100%;
  height: auto;
}
