@charset "UTF-8";

.indicator-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.indicator-wrapper .indicator {
  display: inline-block;
  width: 48px;
  height: 2px;
  margin: 0 4px;
  border-radius: 1px;
  background: #ccc;
  cursor: pointer;
}

.indicator-wrapper .indicator .inner-color {
  height: 100%;
  background: #fff;
}
