.dot {
  display: inline-block;
  height: 4px;
  background-color: #a9a9a9;
  margin-right: 16px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.dot > span {
  position: absolute;
  left: 0;
  border-radius: 4px;
  height: 4px;
  background-color: #fafafa;
}
