HELP.md
.idea/
target/
.mvn/
#排除在外的文件
!**/src/main/**
!**/src/test/**
logs/
### STS ###
.apt_generated
#忽略所有.class结尾的文件
mvnw.cmd
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
#*.a       # 忽略所有 .a 结尾的文件
#!lib.a    # 但 lib.a 除外
#/TODO     # 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
#build/    # 忽略 build/ 目录下的所有文件
#doc/*.txt # 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
