.CarouselContent{
    height: 100vh;
    width: 100vw;
    background-color: #FFF;
    position: relative;
    text-align: center;
    overflow: hidden;
    white-space: pre-line;
}
.CarouselFont{
    padding: 10%;
    font-weight: 500;
}
.CarouselTitle{
    font-size: 50px;
}
.CarouselDescription{
    font-size: 30px;
    font-weight: 300;
}
.ant-carousel .slick-dots.dotsClass li button{
    background-color: #aaa;
}

.CarouselImg{
    background: no-repeat center center;
    background-size: cover;
    height: 100%;
}