* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

fieldset,
img {
  border: none;
}

button,
input,
select,
textarea {
  font-size: 100%;
  appearance: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  clear: both;
}

body {
  font-size: 12px;
  color: #111;
  background-color: #fdfdfd;
}

img {
  border: none;
  vertical-align: middle;
}

button {
  cursor: pointer;
}

html {
  font-size: 37.5px;
}

.one {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tow {
  display: box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.vertical {
  display: box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
