@keyframes progress {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
.carousel__pagination{
    z-index: 1;
    position: absolute;
    bottom: 16px;
    width: 100%;
    height: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__pagination__item{
    cursor: pointer;
    width: 32px;
    height: 4px;
    background: #e6e6e6;
    margin-right: 6px;
}

.carousel__pagination__progress{
    display: block;
    width: 100%;
    height: 100%;
    background: white;
}