.carousel-dots {
  position: absolute;
  width: 100%;
  bottom: 60px;
  display: flex;
  justify-content: center;
}
.carousel-dots > div {
  margin-left: 16px;
}
.carousel-dots > div:first-child {
  margin-left: 0;
}
.carousel-dots .progress {
  width: 50px;
}
