.card {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.dark {
  background-color: #121212;
  color: #FFF;
}
.gray {
  background-color: #f1f1f3;
  color: #000;
}

.light {
  background-color: #fafafa;
  color: #000;
}

.main {
  position: absolute;
  top: 15%;
}

.title {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 10px;
}

.subtitle {

}

.img-wrap {
  flex: 1;
  margin-bottom: 64px;
}

.img {
  max-width: 100%;
  max-height: 40vh;
  object-fit: contain;
}