.demo {
  height: 100%;
  position: relative;
}
.demo img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.demo > div {
  position: absolute;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.demo-iphone {
  background-color: #111111;
}
.demo-iphone > div {
  color: #fafafa80;
  top: 30%;
}

.demo-tablet {
  background-color: #fafafa;
}
.demo-tablet > div {
  color: #11111180;
  bottom: 30%;
}

.demo-airpods {
  background-color: #f1f1f3;
}

.demo-airpods > div {
  color: #11111180;
  top: 50%;
}
