<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinchunhai.shorturl.mapper.ShortUrlMapper">
	
	<resultMap id="baseMap" type="com.jinchunhai.shorturl.mapper.ShortUrl">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="long_url" property="longUrl" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
	</resultMap>
</mapper>