# 测试结果

## 单元测试

共计**17**个单测用例：

![单元测试](imgs/unittests.png)

## 覆盖率

- 分支覆盖率：**93%**
- 行覆盖率：**93%**

![测试结果](imgs/test_coverage.png)
