.tablet {
  height: 100%;
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 140px;

  &-title {
    font-size: 60px;
    font-weight: bold;
  }
  &-content {
    font-size: 30px;
  }
  img {
    height: 120px;
    width: 120px;
    margin-bottom: 168px;
  }
}
