*
!.gitignore

!/composer.json
!/README.md

!/app
!/app/Core
!/app/Core/Component
!/app/Core/Component/.e.g
!/app/Core/Model
!/app/Library
!/app/Shown
!/bin
!/conf
!/doc
!/pub
!/pub/assets
!/pub/uploads
!/var
!/var/build
!/var/cache
!/var/data
!/var/log
!/var/log/cli
!/var/temp
