.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.object-fit-cover{
    object-fit: cover;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.justify-center{
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

h1,h3 {
    padding: 0;
    margin: 0;
}

h3 {
    font-weight: 400;
}

.mt-40 {
    margin-top: 40px;
}

.mb-10 {
    margin-bottom: 10px;
}

.text-color-white {
    color: white;
}
