@property --progress {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.bar {
    width: 40px;
    height: 2px;
    border-radius: 2px;
    margin: 0px 4px;
    background: linear-gradient(90deg, #fff var(--progress), transparent 0%), #a9a9a9;
    position: relative;
}

/* 扩大可点击区域 */
.bar::before {
    content: '';
    cursor: pointer;
    position: absolute;
    left: 0;
    top: -10px;
    bottom: -10px;
    right: 0;
}