@property --progress {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

.bar {
    width: 40px;
    height: 2px;
    border-radius: 2px;
    margin: 0px 4px;
    background: linear-gradient(90deg, #fff var(--progress), transparent 0%), #a9a9a9;
    position: relative;
}
