.imageWrapper {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: inline-block;
  }
  
  .iphone {
    background-image: url('../../assets/iphone.png');
  }
  
  .airpods {
    background-image: url('../../assets/airpods.png');
  }
  
  .tablet {
    background-image: url('../../assets/tablet.png');
  }