.phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(17, 17, 17);
}
.phone p{
    position: relative;
    top: 20%;
    z-index: 99;
    margin-bottom: 16px;
    font-weight: bold;
    color: white;
}
.phone p:first-child{
    font-size: 36px;
    font-weight: 700;
}
.phone img {
    padding: 0 25%;
}

.tablet{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}
.tablet p{
    position: relative;
    z-index: 99;
    margin-bottom: 16px;
    font-weight: bold;
    top: 10%;
    color: black;
}
.tablet p:first-child{
    font-size: 36px;
    font-weight: 700;
}


.airpods{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(241, 241, 243);
}
.airpods p{
    position: relative;
    z-index: 99;
    margin-bottom: 16px;
    font-weight: bold;
    color: black;
}
.airpods p:first-child{
    font-size: 36px;
    font-weight: 700;
}