.demo-swiper-container{
    max-width: 1330px;
    height: 300px;

    .demo-swiper-img{
        width: 100%;
        height: 100%;
    }
    
    .swiper-slide{
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
    }
    
    .demo-swiper-img-one{
        background-image: url('../../assets/airpods.png');

        .demo-swiper-title{
            margin: 4% 0 0 0;
        }

        .demo-swiper-desc{
            font-size: 32px;
            font-weight: bold;
            margin: 0;
        }
    }
    
    .demo-swiper-img-two{
        background-image: url('../../assets/iphone.png');
        background-color: #000;
        color: #fff;

        .demo-swiper-title{
            margin: 4% 0 0 0;
        }

        .demo-swiper-desc{
            margin: 0;
        }
    }
    
    .demo-swiper-img-three{
        background-image: url('../../assets/tablet.png');
        background-color: #FAFAFA;

        .demo-swiper-title{
            margin: 4% 0 0 0;
        }

        .demo-swiper-desc{
            margin: 0;
            font-size: 20px;
        }
    }
}

