.carousel-demo-slide {
  padding-top: 60px;
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100%;
  flex: 1;

  &.light {
    color: black;
  }
  &.dark {
    color: white;
  }
  .title {
    font-size: 60px;
  }
  .desc {
    padding-top: 24px;
    font-size: 48px;
  }
}
