.nav {
  a {
    display: inline-block;
    margin: 5px;

    &:link,
    &:visited {
      color: blue;
      text-decoration: none;
    }

    &:hover {
      color: red;
      text-decoration: underline;
    }
  }
}
