<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sequoia.urllink.dao.UrlMapLockMapper">

    <update id="addIdx" parameterType="long">
        update url_map_lock set idx = idx + #{val}
    </update>

    <select id="selectIdx" resultType="long">
        select idx from url_map_lock for update
    </select>
</mapper>
