.App {
  text-align: center;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

.my_carousel_item {
  width: 480px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &.my_carousel_item2 {
    width: 960px;
    height: 600px;
    h3 {
      font-size: 56px;
    }
    p {
      font-size: 28px;
    }
  }
  &.my_carousel_item3 {
    width: 1440px;
    height: 900px;
    h3 {
      font-size: 86px;
    }
    p {
      font-size: 43px;
    }
  }

  &._white {
    color: #fff;
  }
  .description {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 36px;
  }

  h3 {
    font-size: 26px;
  }
  p {
    font-size: 12px;
  }
}
