.App {
  text-align: center;
  position: relative;
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.text {
  font-size: 28px;
  font-weight: 400;
}

.my_carousel_item {
  width: 480px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.my_carousel_item2 {
  width: 960px;
  height: 600px;
}

.my_carousel_item3 {
  width: 1440px;
  height: 900px;
}

.my_carousel_item .description {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 36px;
}

.my_carousel_item._white {
  color: #fff;
}

.my_carousel_item h3 {
  font-size: 26px;
}
.my_carousel_item p {
  font-size: 12px;
}

.my_carousel_item2 h3 {
  font-size: 56px;
}
.my_carousel_item2 p {
  font-size: 28px;
}

.my_carousel_item3 h3 {
  font-size: 86px;
}
.my_carousel_item3 p {
  font-size: 43px;
}
