.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100px;
}

.App-header img {
  width: 100px;
}

.App-content > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-content input {
  height: 30px;
  font-size: 24px;
}

.App-content button {
  height: 32px;
  margin: 0;
}

#short-output, #long-output {
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
