.slick-item {
    position: relative;
    display: inline-block;
    margin: 6px;
    width: 40px;
    height: 2px;
    border-radius: 1px;
    background-color: #aaa;
    cursor: pointer;
}

.slick-item-pregress {
    position: absolute;
    width: 0;
    height: 2px;
    top: 0;
    left: 0;
    border-radius: 1px;
    background-color: #fff;
}
