.carousel_info_image{
  width: 100vw;
  height: 100vh
}
.carousel_info_info{
  position:absolute;
  top: 20vh;
  width: 100%;
  height: 100%
}
.carousel_info_title{
  font-weight: 600;
  font-size: 24px;
}

.carousel_info_container{
  width: 100%;
  height: 100%
}
