.carouselItem {
  min-height: 500px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  white-space: pre-line;
  overflow: hidden;
}
.carouselItemTitle {
  font-size: 52px;
  z-index: 1;
  margin: 24vh 0 24px 0;
}
.carouselItemSubTitle {
  font-size: 28px;
  font-weight: normal;
  z-index: 1;
  margin: 0;
}
.carouselItemImage {
  position: absolute;
  bottom: 12vh;
}
.carouselItemIphone {
  background-color: #111;
  color: #fff;
  img {
    width: 660px;
  }
}
.carouselItemTablet {
  background: #fafafa;
  color: #111;
  img {
    width: 1200px;
  }
}
.carouselItemAirPod {
  background: #f1f1f3;
  color: #111;
  img {
    width: 1600px;
  }
}
