.carouselItem {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 50px;
}

.textContainer {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.title {
  font-weight: 600;
  font-size: 58px;
}

.description {
  font-weight: 500;
  font-size: 28px;
}