.carousel-item {
  min-width: 100%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  .item-title {
    font-size: 55px;
    font-weight: bold;
  }
  .item-description {
    font-size: 30px;
    font-weight: bold;
  }
  .item-image {
    img {
      height: 250px;
    }
  }
}