.carousel-item {
  height: 100%;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  padding: 0 12px;
  white-space: pre-line;
  h1 {
    font-size: 40px;
    padding-top: 100px;
  }
  .sub-title {
    font-size: 20px;
    line-height: 28px;
    padding-top: 20px;
  }
}