.carousel-item {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
  background-size: 100% 100%;
  .carousel-title {
    padding-top: 200px;
    font-size: 44px;
  }
  .carousel-sub-title {
    font-size: 30px;
  }
}
