.carousel-item {
  height: 100%;
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #000;
  padding: 0 12px;
  white-space: pre-line;
  h1 {
    font-size: 40px;
    padding-top: 100px;
  }
  .sub-title {
    font-size: 20px;
    line-height: 28px;
    padding-top: 20px;
  }
  &.iphone {
    background-image: url('../../assets/iphone.png');
    background-size: contain;
    background-color: #111111;
    color: #fff;
  }
  &.tablet {
    background-image: url('../../assets/tablet.png');
    // background-color: #fafafa;
  }
  &.airpods {
    background-image: url('../../assets/airpods.png');
    // background-color: #f1f1f3;
  }
}