.carousel-item {
  width: 100vw;
  height: 100vh;

  &-title {
    margin: 160px 0 0;
    font-size: 56px;
    font-weight: 600;
    color: inherit;
    white-space: pre-line;
  }

  &-description {
    margin: 20px 0 0;
    font-size: 28px;
    font-weight: 400;
    color: inherit;
    white-space: pre-line;
  }
}

@media screen and (max-width: 768px) {
  .carousel-item {
    &-title {
      margin: 120px 0 0;
      font-size: 32px;
    }

    &-description {
      margin: 16px 0 0;
      font-size: 20px;
    }
  }
}
