<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{requestId}] [%X{remoteIp}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/var/log/sequoia/shortdomain.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/var/log/sequoia/shortdomain.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{requestId}] [%X{remoteIp}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- project default level -->
	<logger name="com.sequoia" level="INFO" />


	<!-- spring -->
	<logger name="org.springframework" level="INFO" />
	<logger name="org.springframework.security" level="INFO" />
	<logger name="org.springframework.transaction" level="INFO" />

	<root level="ERROR">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>