<configuration>

	<contextName>shortUrl-Service</contextName>

	<!--各项目日志保存统一父目录->路径自己设置绝对路径和相对路径都可以-->
	<property name="LOG_DIR" value="/logs/" />
	<!--最大保存天数-->
	<property name="KEEP_MAX_DAY" value="180" />
	<!--总最大保存文件大小-->
	<property name="KEEP_TOTAL_MAX_SIZE" value="5GB" />
	<!--单文件最大保存文件大小-->
	<property name="KEEP_FILE_MAX_SIZE" value="100MB" />

	<!--输出到控制台-->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!--输出到ERROR事件记录文件-->
	<appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<file>${LOG_DIR}/${CONTEXT_NAME}/error/${CONTEXT_NAME}-error.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${CONTEXT_NAME}/error/${CONTEXT_NAME}-error-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>${KEEP_FILE_MAX_SIZE}</maxFileSize>
			<maxHistory>${KEEP_MAX_DAY}</maxHistory>
			<totalSizeCap>${KEEP_TOTAL_MAX_SIZE}</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>

	</appender>

	<!--输出到WARN事件记录文件-->
	<appender name="warnFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<file>${LOG_DIR}/${CONTEXT_NAME}/warn/${CONTEXT_NAME}-warn.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${CONTEXT_NAME}/warn/${CONTEXT_NAME}-warn-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>${KEEP_FILE_MAX_SIZE}</maxFileSize>
			<maxHistory>${KEEP_MAX_DAY}</maxHistory>
			<totalSizeCap>${KEEP_TOTAL_MAX_SIZE}</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>

	</appender>

	<!--输出到INFO事件记录文件-->
	<appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<file>${LOG_DIR}/${CONTEXT_NAME}/info/${CONTEXT_NAME}-info.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/${CONTEXT_NAME}/info/${CONTEXT_NAME}-info-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
			<maxFileSize>${KEEP_FILE_MAX_SIZE}</maxFileSize>
			<maxHistory>${KEEP_MAX_DAY}</maxHistory>
			<totalSizeCap>${KEEP_TOTAL_MAX_SIZE}</totalSizeCap>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
		</encoder>

	</appender>

	<logger name="org.springframework.jdbc.core" level="debug" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="com.springboot.web.dynamic_debug" level="debug" additivity="false">
		<appender-ref ref="console" />
	</logger>


	<root level="info">
		<appender-ref ref="console" />
		<appender-ref ref="errorFile" />
		<appender-ref ref="warnFile" />
		<appender-ref ref="infoFile" />
	</root>

</configuration>